{% extends 'main.html' %}

{% block service %}

    <table class="c_base_w t_header1">
        <tr>
            <td width="1000px" align="left">
                <h3>&nbsp;&nbsp;{{ bu.name }} {{ bu.house_num }}&nbsp;&nbsp;
                <b><a class="color_link1" href="/statist/bu_input_card={{ bu.id }}/">карточка ввода</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <label class="color_link2">документы</label></b></h3>
            </td>
            <td width="280px" align="right">&nbsp;</td>
        </tr>
    </table>
    {% if f_exist %}
    <div class="c_base_w" align="center">
        <label class="color_warn1"><b>файл с таким именем существует на сервере</b></label>
    </div>
    {% endif %}
        <br>
        {% if f_list %}
            <table class="c_base_w t_header1">
                <tr><td>&nbsp;</td></tr>
                {% for ob in f_list %}
                <tr>
                    <td width="20px" align="left"><a href="/statist/bu_doc_del={{ bu.id }}/?d_file={{ ob }}" class="color_warn1"><font size="1">[X]</font></a></td>
                    <td width="1260px" align="left"><a href="/media/{{ url }}{{ ob }}">{{ ob }}</a></td>
                </tr>
                {% endfor %}
                <tr><td>&nbsp;</td></tr>
            </table>
        {% else %}
        <div class="c_base_w" align="center">файлы отсутствуют</div>
        {% endif %}

    <table class="c_base_w t_footer">
        <tr>
            <td width="1000px">
                <form enctype="multipart/form-data" method="post" action="">
                    {% csrf_token %}
                    {{ form.file }}
                    <input type="submit" value="добавить" style="width:100px">&nbsp;
                </form>
            </td>
            <td width="280px" align="right">
                <input type="button" value="закрыть" onClick='location.href="/cross/build={{ bu.id }}/"'>&nbsp;
            </td>
        </tr>
    </table>
    

{% endblock %}
