{% extends 'main.html' %}

{% block statist %}

    <table class="t_header1">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbspCтатистика по объектам</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>

    <br>
    <div align="center">
        <table>
        <caption>объекты без координат</caption>
            <tr class="t_header2" align="center">
                <td>УД</td>
                <td class="tbl-main">&nbsp</td>
                <td>муфты</td>
                <td class="tbl-main">&nbsp</td>
                <td>объекты</td>
            </tr>
            <tr align="center" valign="top">
                <td>
                {% for ob in lo_list %}
                    <a style="color:black" href="/cross/build={{ ob.parrent.id }}/locker={{ ob.id }}/" target="_blank"><strong>{{ ob.name }}</strong></a>
                    <br>
                {% endfor %}
                </td>
                <td class="tbl-main">&nbsp</td>
                <td>
                {% for ob in coup_list %}
                    <a style="color:black" href="/cable/coup={{ ob.id }}/" target="_blank"><strong>{{ ob.name }}</strong></a>
                    <br>
                {% endfor %}
                </td>
                <td class="tbl-main">&nbsp</td>
                <td>
                {% for ob in obj_list %}
                    <a style="color:black" href="/cable/kv={{ ob.parrent.id }}/pw_edit={{ ob.id }}/" target="_blank"><strong>{{ ob.name }}</strong></a>
                    <br>
                {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <table class="t_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/core/service"'>&nbsp</td>
        </tr>
    </table>


{% endblock %}
