{% extends 'main.html' %}

{% block statist %}

    <table class="c_base_w t_header1">
        <tr>
            <td width="1000px" align="left"><h3>запланированные изменения в волокнах</h3></td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="../"'>&nbsp;</td>
        </tr>
    </table>

    <br>
    <table class="c_base_w" border="1">
        <tr class="t_header1">
            <td width="260px" align="center">муфта</td>
            <td width="240px" align="center">волокно</td>
        </tr>
        {% for ob in p_list %}
        <tr>
            <td align="center">
                {{ ob.parrent.name }}
            </td>
            <td align="center">
                <a href="/cable/coup={{ ob.parrent.id }}/?sel={{ ob.id }}" target="_blank"><b>каб.: {{ ob.cable_num }} вол.: {{ ob.fiber_num }}</b></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="1000px">&nbsp;</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="../"'>&nbsp;</td>
        </tr>
    </table>
    
    
{% endblock %}
