{% extends 'main.html' %}

{% block statist %}

    <table border="0" id="templ_header">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbspCтатистика по кабелям</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>

    <br>
    <table border="1">
    <caption>кабели с нулевой длиной: ({{ count }})</caption>
        <tr style="background-color:#B5FFCE">
            <td width="280px" align="center">муфта</td>
            <td width="140px" align="center">№ кабеля в муфте</td>
        </tr>
        {% for ob in p_list %}
        <tr>
            <td align="center">
                <a href="/cable/coup={{ ob.parrent.id }}" target="_blank"><strong>{{ ob.parrent.name }}</strong></a>
            </td>
            <td align="center">
                <a href="/cable/coup={{ ob.parrent.id }}/?sel={{ ob.id }}" target="_blank"><strong>{{ ob.cable_num }}</strong></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/kpp/service"'>&nbsp</td>
        </tr>
    </table>
    
    
{% endblock %}
