{% extends 'main.html' %}

{% block statist %}

    <table border="0" id="templ_header">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbspCтатистика по договорам</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>

    <br>
    <div align="center">
        <table>
        <caption>повторяющиеся договоры</caption>
            <tr align="center" style="background-color:white">
                <td width="1280px">
                {% for ob in dog_list %}
                    {{ ob }}, 
                {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/core/service"'>&nbsp</td>
        </tr>
    </table>

    
{% endblock %}
