{% extends 'main.html' %}

{% block statist %}

    <table class="c_base_w t_header1">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp;&nbsp;Cтатистика по договорам</h3></td>
            <td width="280px" align="right">&nbsp;</td>
        </tr>
    </table>

    <br>
    <div class="c_base_w" align="center">
        <table>
        <caption>повторяющиеся договоры</caption>
            <tr align="center">
                <td width="1280px">
                {% for ob in dog_list %}
                    {{ ob }}, 
                {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/statist/"'>&nbsp;</td>
        </tr>
    </table>

    
{% endblock %}
