{% extends 'main.html' %}

{% block statist %}

    <table class="t_header1">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbspМуфты</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>

    <br>
    <div align="center">
        <table class="tbl-main">
            <tr>
                <td align="center">
                
                    <b>найдены УД без муфты:</b><br>
                    <table>
                        {% for ob in c1 %}
                        <tr>
                            <td align="center">
                                {{ ob.1 }}<br>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <b> найдены муфты без УД:</b><br>
                    <table>
                        {% for ob in c2 %}
                        <tr>
                            <td align="center">
                                <a href="/cable/coup={{ ob.0 }}" target="_blank">{{ ob.1 }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <br>
    <table class="t_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/core/service"'>&nbsp</td>
        </tr>
    </table>

    
{% endblock %}
