{% extends 'main.html' %}

{% block statist %}

    <table class="c_base_w t_header1">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp;Загрузка УД</h3></td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/statist/"'>&nbsp;</td>
        </tr>
    </table>
    <table class="c_base_w tone2">
        <tr>
            <td width="1000px" align="left">
                &nbsp<i>примечание:</i><br>
                &nbspпоказаны только те УД, где присутствуют коммутаторы edge-core<br>
                &nbspмедиаконвертеры и серверные коммутаторы игнорируются<br>
                &nbspисключены шкафы-агрегации и служебные шкафы (не для подключения абонентов)<br>
                &nbspв скроссированных и активных портах не учитываются связи с кроссами и др. коммутаторами<br>
                <!--&nbspпорог индикации в "% загрузки"" выбран 40%<br>-->
            </td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>
    <br>
    
    <table class="c_base_w" width="800px" border="1">
        <tr class="t_header1">
            <td align="center">адрес</td>
            <td width="120px" align="center">УД</td>
            <td width="100px" align="center">колич. коммутаторов</td>
            <td width="100px" align="center">портов всего</td>
            <td width="100px" align="center">портов скроссировано</td>
            <td width="100px" align="center">портов активно</td>
            <td width="80px" align="center">% загрузки</td>
        </tr>
    {% for ob in lo_list %}
        <tr {% if ob.1 == 1 %} style="background-color:white"
            {% elif ob.1 == 2 %} style="background-color:yellow"
            {% elif ob.1 == 3 %} style="background-color:gold"
            {% elif ob.1 == 4 %} style="background-color:orange"
            {% else %} style="background-color:goldenrod"
            {% endif %}>
            <td>&nbsp;{{ ob.0.parrent.name }} {{ ob.0.parrent.house_num }}</td>
            <td>&nbsp;<a href="/cross/build={{ ob.0.parrent_id }}/locker={{ ob.0.id }}" target="_blank">{{ ob.0.name }}</a></td>
            <td align="center">{{ ob.1 }}</td>
            <td align="center">{{ ob.2 }}</td>
            <td align="center">{{ ob.3 }}</td>
            <td align="center">{{ ob.4 }}</td>
            <td align="center" {#{% if ob.1 != 1 and ob.5 < 41 %}style="background-color:red"{% endif %}#}>{{ ob.5 }}</td>
        </tr>
    {% endfor %}
    </table>
    
    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/statist/"'>&nbsp;</td>
        </tr>
    </table>

    
{% endblock %}
