{% extends 'main.html' %}

{% block statist %}

    <table class="c_base_w t_header1">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp;log файл загрузки конфигураций</h3></td>
            <td width="280px" align="right"><h3><a href="/statist/stat_log_update_config/?get_file=1">получить лог-файл&nbsp;</a></h3></td>
        </tr>
    </table>
    <br>
    
    <div class="c_base_w" style="width:1000px; height:80vh; text-align: left; overflow-y:scroll; background-color: #d4dcc7">

    {% for ob in log_list %}

        {{ ob }}<br>

    {% endfor %}

    </div>

    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="1000px">&nbsp;</td>
            <td width="280px" align="right"><input type="button" value="назад" onClick='location.href="/statist/"'>&nbsp;</td>
        </tr>
    </table>

    
{% endblock %}
