{% extends 'main.html' %}

{% block cross %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            {{ box_p.parrent.parrent.parrent.name }} {{ box_p.parrent.parrent.parrent.house_num }},
            &nbsp;&nbsp;УД: {{ box_p.parrent.parrent.name }}, КРТ: {{ box_p.parrent.name }}-{{ box_p.parrent.num }}-{{ box_p.p_alias }}
        </h3>
    </div>
</div>
<br>
    
<form method="post">
{% csrf_token %}

    <table class="c_base_w" align="center">
        <tr class="tone1">
            <td align="left">
                {{ form.n_order.label }}&emsp;{{ form.n_order }}
            </td>
        </tr>
    </table>
    <br>

    <div class="t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="/app/status=0"'>
        </div>
    </div>

</form>
    
{% endblock %}