{% extends 'main.html' %}

{% block cable %}
    
    <table class="c_base_w t_header1">
        <tr>
            <td width="100%" align="left"><h3>&nbspмуфта: {{ pw.name }}</h3></td>
            <td width="280px" align="right"></td>
        </tr>
    </table>
    <br>
<div class="c_base_w " align="center">
    {% if del_ok %}
    <form method="post">
        {% csrf_token %}
        <h3 style="color:red">удалить объект?</h3>
        <br>
        <table class="t_footer">
            <tr>
                <td width="640px" align="right">
                    <input type="submit" value="     OK     ">&nbsp
                </td>
                <td width="640px" align="left">
                    <input type="button" value="отмена" onClick='location.href="/cable/?kv={{ pw.parrent_id }}"'>
                </td>
            </tr>
        </table>
    </form>

    {% else %}
        <h3 style="color:red">удаление невозможно</h3>
        <h3>есть муфты</h3>
</div>
    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td >
                <input type="button" value="назад" onClick='location.href="/cable/?kv={{ pw.parrent_id }}"'>
            </td>
        </tr>
    </table>

    {% endif %}


{% endblock %}
