{% extends 'main.html' %}

{% block cable %}

    <table class="c_base_w t_header1">
        <tr>
            <td width="1000px" align="left">
            {% if coup %}
                <h3>&nbsp&nbspредактирование муфты: <strong>{{ coup.name }}</strong>&nbsp({{ coup.name_type }}),&nbsp</h3>
            {% elif pw %}
                <h3>&nbsp&nbspредактирование объекта: <strong>{{ pw.name }}</strong>&nbsp</h3>
            {% else %}
                <h3>&nbsp&nbspДобавление объекта</h3>
            {% endif %}
            </td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>
    <br>

<form method="post">
    {% csrf_token %}
    
    <table class="c_base_w t_header1">
    {% if form_pw %}
        <tr>
            <td width="160px" align="right"><b>&nbsp{{ form_pw.obj_type.label }}&nbsp</b></td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_pw.obj_type }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right"><b>&nbsp{{ form_pw.name.label }}&nbsp</b></td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_pw.name }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form_pw.object_owner.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_pw.object_owner }}&nbsp
                <!--<input type="checkbox" id="own">&nbsp->&nbsp-->
                <img src="/static/images/go-back.png" alt="" title="" width="16" height="10">
                {{ form_pw.object_owner_list }}&nbsp
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form_pw.rasp.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_pw.rasp }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form_pw.prim.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_pw.prim }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right">&nbsp{{ form_pw.coord.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_pw.coord }}&nbsp</td>
        </tr>
    </table>
    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="640px" align="right">
                <input type="submit" value="     OK     ">&nbsp
            </td>
            <td width="640px" align="left">
                <input type="button" value="отмена" onClick='location.href="/cable/?kv={{ kvar }}"'>
            </td>
        </tr>
    </table>

    {% elif form_c %}
        <tr>
            <td width="160px" align="right"><b>&nbsp{{ form_c.name_type.label }}&nbsp</b></td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.name_type }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right"><b>&nbsp{{ form_c.name.label }}&nbsp</b></td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.name }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form_c.object_owner.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.object_owner }}&nbsp
                <!--<input type="checkbox" id="own">&nbsp->&nbsp-->
                <img src="/static/images/go-back.png" alt="" title="" width="16" height="10">
                {{ form_c.object_owner_list }}&nbsp
            </td>
        </tr>
        <tr>
            <td width="160px" align="right">&nbsp{{ form_c.installed.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.installed }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right">&nbsp{{ form_c.date_ent.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.date_ent }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right">&nbsp{{ form_c.rasp.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.rasp }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right">&nbsp{{ form_c.prim.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.prim }}&nbsp</td>
        </tr>
        <tr>
            <td width="160px" align="right">&nbsp{{ form_c.coord.label }}&nbsp</td>
            <td align="center">--></td>
            <td align="left">&nbsp{{ form_c.coord }}&nbsp</td>
        </tr>
    </table>
    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="640px" align="right">
                <input type="submit" value="     OK     ">&nbsp
            </td>
            <td width="640px" align="left">
            {% if coup %}
                <input type="button" value="отмена" onClick='location.href="../"'>
            {% elif pw %}
                <input type="button" value="отмена" onClick='location.href="/cable/?kv={{ kvar }}"'>
            {% else %}
                <input type="button" value="отмена" onClick='location.href="/cable/?kv={{ kvar }}"'>
            {% endif %}
            </td>
        </tr>
    </table>

    {% endif %}

</form>


<script language="javascript">

//own.addEventListener('change', function(){
//    id_object_owner_list.disabled = ! own.checked;
//}, false);

id_object_owner.addEventListener('change', function(){
    id_object_owner_list.value = 0;
}, false);

id_object_owner_list.addEventListener('change', function(){
    id_object_owner.value = id_object_owner_list.value;
}, false);

</script>


{% endblock %}
