{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>объект: {{ pw.name }}</h3>
    </div>
</div>
<br>

<div class="c_base_w" align="center">

    {% if del_ok %}
    <form method="post">
        {% csrf_token %}
        <h3 class="color_warn1">удалить объект?</h3>
        <br>
        <div class="t_footer3">
            <div class="_flex_c">
                <input type="submit" value="     OK     ">
                <input type="button" value="отмена" onClick='location.href="/cable/?kv={{ pw.parrent_id }}"'>
            </div>
        </div>
    </form>

    {% else %}
    <h3 class="color_warn1">удаление невозможно</h3>
    <h3>есть муфты</h3>
    <br>
    
    <div class="t_footer3">
        <div class="_flex_c">
            <input type="button" value="назад" onClick='location.href="/cable/?kv={{ pw.parrent_id }}"'>
        </div>
    </div>
        
    {% endif %}

</div>

{% endblock %}