{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
        {% if coup %} редактирование муфты: <b>{{ coup.name }}</b> ({{ coup.name_type }})
            {% if bu %}&nbsp;{{ bu.name }}-{{ bu.house_num }}{% endif %}
        {% elif pw %} редактирование объекта: <b>{{ pw.name }}</b>
        {% else %}    Добавление объекта
        {% endif %}
        </h3>
    </div>
</div>
<br>

<form method="post">
    {% csrf_token %}
    
    <table class="c_base_w t_header1">
    {% if form_pw %}
        <tr>
            <td width="160px" align="right"><b>{{ form_pw.obj_type.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.obj_type }}</td>
        </tr>
        <tr>
            <td width="160px" align="right"><b>{{ form_pw.name.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.name }}</td>
        </tr>
        <tr>
            <td align="right">{{ form_pw.object_owner.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.object_owner }}
                <!--<input type="checkbox" id="own">&nbsp->&nbsp-->
                <img src="/static/images/go-back.png" alt="" title="" width="16" height="10">
                {{ form_pw.object_owner_list }}
            </td>
        </tr>
        <tr>
            <td align="right">{{ form_pw.rasp.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.rasp }}</td>
        </tr>
        <tr>
            <td align="right">{{ form_pw.prim.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.prim }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_pw.coord.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.coord }}</td>
        </tr>
    </table>
    <br>

    <div class="c_base_w t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="/cable/kv={{ kvar }}"'>
        </div>
    </div>

    {% elif form_c %}
        <tr>
            <td width="160px" align="right"><b>{{ form_c.name_type.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.name_type }}</td>
        </tr>
        <tr>
            <td width="160px" align="right"><b>&nbsp{{ form_c.name.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.name }}</td>
        </tr>
        {% if bu %}
        <tr>
            <td width="160px" align="right">&nbsp{{ form_c.change_bu.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">&nbsp{{ form_c.change_bu }}&emsp;{{ form_c.street }}&nbsp{{ form_c.house_num }}</td>
        </tr>
        {% endif %}
        <tr>
            <td align="right">{{ form_c.object_owner.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.object_owner }}
                <!--<input type="checkbox" id="own">&nbsp->&nbsp-->
                <img src="/static/images/go-back.png" alt="" title="" width="16" height="10">
                {{ form_c.object_owner_list }}
            </td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.installed.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.installed }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.date_ent.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.date_ent }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.rasp.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.rasp }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.prim.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.prim }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.coord.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.coord }}</td>
        </tr>
    </table>
    <br>

    <div class="c_base_w t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
        {% if coup %}
            <input type="button" value="отмена" onClick='location.href="../"'>
        {% elif pw %}
            <input type="button" value="отмена" onClick='location.href="/cable/kv={{ kvar }}"'>
        {% else %}
            <input type="button" value="отмена" onClick='location.href="/cable/kv={{ kvar }}"'>
        {% endif %}
        </div>
    </div>

    {% endif %}

</form>

<script>

id_object_owner.addEventListener('change', function(){
    id_object_owner_list.value = 0;
}, false);

id_object_owner_list.addEventListener('change', function(){
    id_object_owner.value = id_object_owner_list.value;
}, false);


{% if bu %}
id_change_bu.addEventListener('change', function(){
    if (id_change_bu.checked) {
        id_street.disabled = 0; id_house_num.disabled = 0;
        h_num_list();
    }
    else {
        id_street.disabled = 1; id_house_num.disabled = 1;
    }
}, false);

id_street.addEventListener('change', function(){
    h_num_list();
}, false);

function h_num_list() {
    var http = new getXmlHttp();
    var url = "/find/js_request/?str=" + id_street.value;
    http.open("GET", url, true);
    http.onreadystatechange = function() {
        if (http.readyState == 4 && http.status == 200) {
            var answer = http.responseText;
            if (answer != 'False') {
                var arr1 = answer.slice(2,-3).split("',)('");
                id_house_num.options.length = 0;
                {#id_house_num.options[id_house_num.options.length] = new Option('');#}
                for (var i=0, len=arr1.length; i<len; i++) {
                    id_house_num.options[id_house_num.options.length] = new Option(arr1[i]);
                }
            }
        }
    }
    http.send(null);
}
function getXmlHttp() {
    var xmlhttp;
    try { xmlhttp = new ActiveXObject("Msxml2.XMLHTTP"); } catch (e) {
        try { xmlhttp = new ActiveXObject("Microsoft.XMLHTTP"); } catch (e2) {
            xmlhttp = false; } }
    if (!xmlhttp && typeof XMLHttpRequest!='undefined') { xmlhttp = new XMLHttpRequest(); }
    return xmlhttp;
}
{% endif %}

</script>

{% endblock %}