{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
        {% if coup %} редактирование муфты: <b>{{ coup.name }}</b> ({{ coup.name_type }})
        {% elif pw %} редактирование объекта: <b>{{ pw.name }}</b>
        {% else %}    Добавление объекта
        {% endif %}
        </h3>
    </div>
</div>
<br>

<form method="post">
    {% csrf_token %}
    
    <table class="c_base_w t_header1">
    {% if form_pw %}
        <tr>
            <td width="160px" align="right"><b>{{ form_pw.obj_type.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.obj_type }}</td>
        </tr>
        <tr>
            <td width="160px" align="right"><b>{{ form_pw.name.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.name }}</td>
        </tr>
        <tr>
            <td align="right">{{ form_pw.object_owner.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.object_owner }}
                <!--<input type="checkbox" id="own">&nbsp->&nbsp-->
                <img src="/static/images/go-back.png" alt="" title="" width="16" height="10">
                {{ form_pw.object_owner_list }}
            </td>
        </tr>
        <tr>
            <td align="right">{{ form_pw.rasp.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.rasp }}</td>
        </tr>
        <tr>
            <td align="right">{{ form_pw.prim.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.prim }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_pw.coord.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_pw.coord }}</td>
        </tr>
    </table>
    <br>

    <div class="c_base_w t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="/cable/kv={{ kvar }}"'>
        </div>
    </div>

    {% elif form_c %}
        <tr>
            <td width="160px" align="right"><b>{{ form_c.name_type.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.name_type }}</td>
        </tr>
        <tr>
            <td width="160px" align="right"><b>&nbsp{{ form_c.name.label }}</b></td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.name }}</td>
        </tr>
        <tr>
            <td align="right">{{ form_c.object_owner.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.object_owner }}
                <!--<input type="checkbox" id="own">&nbsp->&nbsp-->
                <img src="/static/images/go-back.png" alt="" title="" width="16" height="10">
                {{ form_c.object_owner_list }}
            </td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.installed.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.installed }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.date_ent.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.date_ent }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.rasp.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.rasp }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.prim.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.prim }}</td>
        </tr>
        <tr>
            <td width="160px" align="right">{{ form_c.coord.label }}</td>
            <td align="center">&#9658;</td>
            <td align="left">{{ form_c.coord }}</td>
        </tr>
    </table>
    <br>

    <div class="c_base_w t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
        {% if coup %}
            <input type="button" value="отмена" onClick='location.href="../"'>
        {% elif pw %}
            <input type="button" value="отмена" onClick='location.href="/cable/kv={{ kvar }}"'>
        {% else %}
            <input type="button" value="отмена" onClick='location.href="/cable/kv={{ kvar }}"'>
        {% endif %}
        </div>
    </div>

    {% endif %}

</form>

<script>

id_object_owner.addEventListener('change', function(){
    id_object_owner_list.value = 0;
}, false);

id_object_owner_list.addEventListener('change', function(){
    id_object_owner.value = id_object_owner_list.value;
}, false);

</script>

{% endblock %}