{% extends 'main.html' %}

{% block cable %}

<table class="c_base_w t_header1">
    <tr>
        <td width="100%" align="left">
            <h3>
                &nbspмуфта: {{ coup.name }},
                &nbspкабель №: {{ cab }} --- 
                &nbspмуфта: {{ rem_p.parrent.name }},
                &nbspкабель №: {{ rem_p.cable_num }}
            </h3>
        </td>
        <td width="280px" align="right">&nbsp</td>
    </tr>
</table>
<br>

<div class="c_base_w" align="center">
    {% if del_ok1 and del_ok2 %}
    <form method="post">
        {% csrf_token %}
        <h3 style="color:red">удалить кабель?</h3>
        <br>
        <table class="t_footer">
            <tr>
                <td width="640px" align="right">
                    <input type="submit" value="     OK     ">&nbsp
                </td>
                <td width="640px" align="left">
                    <input type="button" value="отмена" onClick='location.href="../"'>
                </td>
            </tr>
        </table>
    </form>
    
    {% else %}
    <h3 style="color:red">удаление невозможно</h3>
    <h3>есть варки в муфтах</h3>
</div>
    <br>
    <table class="c_base_w t_footer">
        <tr>
            <td width="1280px" align="center">
                <input type="button" value="назад" onClick='location.href="../"'>
            </td>
        </tr>
    </table>

    {% endif %}

{% endblock %}
