{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <form method="post">
        {% csrf_token %}
            Квартал: {{ form.kvar }}
            <input type="submit" value=" ▼▼▼ ">
            &emsp;<b>Выбор конечной муфты для нового кабеля:</b>
        </form>
    </div>
    <div class="c_kv_card"></div>
</div>
<br>

<div class="c_base_w">
    <table class="tone1" width="100%">
        <tr valign="top">
            <td align="left">
                <table width="880px" border="1">
                    <tr class="t_header1" align="center">
                        <td>адрес</td>
                        <td>УД</td>
                        <td width="260px">муфта</td>
                    </tr>
                {% for ob in list1 %}
                    <tr>
                        <td>&nbsp{{ ob.0.name }}&nbsp{{ ob.0.house_num }}</td>
                        <td>
                        {% for ob2 in ob.2 %}
                            &nbsp
                            <a href="target={{ ob2.1.id }}/"><b>{{ ob2.1.name }}</b></a>
                            <br>
                        {% endfor %}
                        </td>
                        <td>
                        {% for ob2 in ob.1 %}
                            &nbsp
                            <a href="target={{ ob2.id }}/"><b>{{ ob2.name }}</b></a>
                            <br>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
            <td>
                <table width="520px" border="1">
                    <tr class="t_header1" align="center">
                        <td>объект</td>
                        <td width="260px">муфта</td>
                    </tr>
                {% for ob in list2 %}
                    <tr>
                        <td>&nbsp{{ ob.0.name }}</td>
                        <td>
                        {% for ob2 in ob.1 %}
                            &nbsp
                            <a href="target={{ ob2.id }}/"><b>{{ ob2.name }}</b></a>
                            <br>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
        </tr>
    </table>
</div>
<br>

<div class="c_base_w c_footer t_footer">
    <div></div>
    <div class="c_footer_nav">
        <input type="button" value="отмена" onClick='location.href="../"'>
    </div>
</div>

{% endblock %}