{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            муфта: {{ s_p.parrent.name }}, кабель №: {{ s_p.cable_num }}, волокно №: {{ s_p.fiber_num }}
            ---
            кабель №: {{ d_p.cable_num }}, волокно №: {{ d_p.fiber_num }}
        </h3>
    </div>
</div>
<br>


<form method="post">
    {% csrf_token %}

    <h3 class="c_base_w color_warn1" align="center">удалить кроссировку?</h3>
    <br>

    <div class="c_base_w t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="../"'>
        </div>
    </div>

</form>

{% endblock %}