{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>муфта: {{ coup.name }}</h3>
    </div>
</div>
<br>

<div class="c_base_w" align="center">
    {% if del_ok1 and del_ok2 %}
    <form method="post">
        {% csrf_token %}
        <h3 class="color_warn1">удалить муфту?</h3>
        <br>
        <div class="t_footer3">
            <div class="_flex_c">
                <input type="submit" value="     OK     ">
                <input type="button" value="отмена" onClick='location.href="../"'>
            </div>
        </div>
    </form>
</div>
    {% else %}
        <h3 class="color_warn1">удаление невозможно</h3>
        {% if not del_ok1 %}<h3>есть кабель в муфте</h3>{% endif %}
        {% if not del_ok2 %}<h3>муфта принадлежит УД</h3>{% endif %}
    <br>
    <div class="t_footer3">
        <div class="_flex_c">
            <input type="button" value="назад" onClick='location.href="../"'>
        </div>
    </div>
</div>
    {% endif %}

{% endblock %}