{% extends 'main.html' %}

{% block cable %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            муфта: {{ s_p.parrent.name }}, кабель №: {{ s_p.cable_num }}, волокно №: {{ s_p.fiber_num }}&nbsp
            ---
            уд. муфта: {{ d_p.parrent.name }}, кабель №: {{ d_p.cable_num }}, волокно №: {{ d_p.fiber_num }}
        </h3>
    </div>
</div>
<br>

<form method="post">
    {% csrf_token %}
    <table class="c_base_w t_header1">
        <tr>
            <td width="300px" align="right">{{ form.phys_len.label }}:</td>
            <td align="left">{{ form.phys_len }}</td>
        </tr>
        <tr>
            <td align="right">{{ form.res_len.label }}:</td>
            <td align="left">{{ form.res_len }}<br></td>
        </tr>
        <tr>
            <td align="right">{{ form.date_ent.label }}:</td>
            <td align="left">{{ form.date_ent }}<br></td>
        </tr>
        <tr>
            <td align="right">{{ form.owner.label }}:</td>
            <td align="left">{{ form.owner }}</td>
        </tr>
        <tr>
            <td align="right">{{ form.owner_f.label }}:</td>
            <td align="left">{{ form.owner_f }}</td>
        </tr>
    </table>
    <br>

    <div class="c_base_w t_footer3">
        <div class="_flex_c">
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="../"'>
        </div>
    </div>
    
</form>

<script>

id_owner.addEventListener('change', function(){
    id_owner_list.value = 0;
}, false);

id_owner_list.addEventListener('change', function(){
    id_owner.value = id_owner_list.value;
}, false);

</script>

{% endblock %}