{% extends 'main.html' %}

{% block cross %}

{% include "show_build_header.html" %}

<br>

<div class="c_base_w">
    <div align="center">
        <table border="1"><tr><td>
            <table>
            {% for ob in su_list %}
                <tr>
                    <td width="160px" align="center">
                    {% if ob.box_p_id == 0 %}
                        <a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/box={{ cur_box_p.parrent.id }}/s_p={{ cur_box_p.id }}/cr_su={{ ob.id }}"><b>{{ ob.name }}</b>
                    {% else %}
                        <i>{{ ob.name }}</i>
                    {% endif %}
                        </a>
                    </td>
                    <td width="160px" align="center">{{ ob.name_type.name }}</td>
                    <td width="360px" align="center" align="center">{{ ob.prim }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="2" align="center"><a href="../cr_ab">&emsp;подключение абонентов&emsp;</td>
                    <td align="right"><input type="button" value="отмена" onClick='location.href="../../"'></td>
                </tr>
            </table>
        </td></tr></table>
        <br>
        <table>
        <caption><i>история пары</i></caption>
            <tr>
                <td class="tone2" colspan="3" align="center">
                    &nbsp;договор: <b>{{ cur_box_p.his_dogovor }}</b>
                    &nbsp;кв: <b>{{ cur_box_p.his_ab_kv }}</b>
                    &nbsp;ФИО: <b>{{ cur_box_p.his_ab_fio }}</b>
                    &nbsp;примечание: <b>{{ cur_box_p.his_ab_prim }}</b>&nbsp;
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
