{% extends 'main.html' %}

{% block cross %}

<div class="c_base_w">
    <div class="c_header_nav">
        <h3>
            <a href="/cross/build={{ lo.parrent.id }}">{{ lo.parrent.name }} {{ lo.parrent.house_num }}</a>
            &nbsp;&nbsp;<a href="/cross/build={{ lo.parrent.id }}/locker={{ lo.id }}">УД: {{ lo.name }}</a>
        </h3>
    </div>
</div>

<div class="c_base_w">
    <form method="post">
        {% csrf_token %}

        <br>
        <h3 align="center" style="color:red">удалить кроссировку?</h3>
        <br>

        <div class="c_base_w t_footer3">
            <div align="center">
                <input type="submit" value="     OK     ">
                <input type="button" value="отмена" onClick='location.href="../../"'>
            </div>
        </div>

    </form>
</div>

{% endblock %}