{% extends 'main.html' %}

{% block cross %}
<div class="c_base_w">
    <div class="c_header_nav">
        <h3>акт.об: {{ v_p.parrent.name }}, порт: {{ v_p.p_alias }}</h3>
    </div>
</div>
<br>

<div class="c_base_w" align="center">
    <form method="post">
        {% csrf_token %}

        <br>
        <h3 class="color_warn1">удалить порт?</h3>
        <br>

        <div class="t_footer3">
            <div class="_flex_c">
                <input type="submit" value="     OK     ">
                <input type="button" value="отмена" onClick='location.href="../l2=1/"'>
            </div>
        </div>
    </form>
</div>

{% endblock %}