{% extends 'main.html' %}

{% block cross %}

    <table border="0" id="templ_header">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbsp{{ dev.parrent.parrent.name }}&nbsp{{ dev.parrent.parrent.house_num }},&nbsp&nbspУД: {{ dev.parrent.name }},&nbsp&nbsp{{ dev.name }}</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>
    <br>
<form method="post">
    {% csrf_token %}

    <table border="0">
        <tr style="background-color:silver">
            <td width="240px" align="right">&nbsp{{ dev.obj_type.parrent.name }}:&nbsp</td>
            <td width="390px" align="left">&nbsp{{ form.dev_name }}&nbsp</td>
            </td>
        </tr>
        <tr style="background-color:silver">
            <td align="right">&nbsp{{ form.object_owner.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.object_owner }}&nbsp&nbsp&nbsp<img src="/static/images/go-back.png" alt="" title="" width="16" height="10">&nbsp&nbsp&nbsp{{ form.object_owner_list }}&nbsp</td>
        </tr>
        <tr>
            <td align="right"><label>&nbspмодель:&nbsp</label></td>
            <td align="left">&nbsp<input type="text" size="20" name="type_name" value="{{ dev.obj_type.name }}" disabled="1" style="color:teal">&nbsp</td>
        </tr>
        <tr>
            <td align="right" >&nbsp{{ form.ip.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.ip }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.mac.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.mac }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.sn.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.sn }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.vers_po.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.vers_po }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.man_conf.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.man_conf }}&nbsp&nbsp&nbsp<img src="/static/images/go-back.png" alt="" title="" width="16" height="10">&nbsp&nbsp&nbsp{{ form.man_conf_list }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.man_install.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.man_install }}&nbsp&nbsp&nbsp<img src="/static/images/go-back.png" alt="" title="" width="16" height="10">&nbsp&nbsp&nbsp{{ form.man_install_list }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.date_ent.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.date_ent }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.date_repl.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.date_repl }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.rack_num.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.rack_num }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.rack_pos.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.rack_pos }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp</td>
            <td align="left">&nbsp</td>
        </tr>
        <tr>
            <td colspan="2" align="center">{{ form.prim.label }}:</td>
        </tr>
        <tr style="background-color:silver">
            <td colspan="2" align="center">{{ form.prim }}</td>
        </tr>

    </table>
    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="640px" align="right">
                <input type="submit" value="     OK     ">&nbsp
            </td>
            <td width="640px" align="left">
                <input type="button" value="отмена" onClick='location.href="../../"'>
            </td>
        </tr>
    </table>

</form>

<script language="javascript">

//own.addEventListener('change', function(){
//    id_object_owner_list.disabled = ! own.checked;
//}, false);

id_man_conf.addEventListener('change', function(){
    id_man_conf_list.value = 0;
}, false);
id_man_conf_list.addEventListener('change', function(){
    id_man_conf.value = id_man_conf_list.value;
}, false);

id_man_install.addEventListener('change', function(){
    id_man_install_list.value = 0;
}, false);
id_man_install_list.addEventListener('change', function(){
    id_man_install.value = id_man_install_list.value;
}, false);

id_object_owner.addEventListener('change', function(){
    id_object_owner_list.value = 0;
}, false);
id_object_owner_list.addEventListener('change', function(){
    id_object_owner.value = id_object_owner_list.value;
}, false);

</script>


{% endblock %}
