{% extends 'main.html' %}

{% block cross %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            {{ box.parrent.parrent.name }} {{ box.parrent.parrent.house_num }},
            &nbsp;&nbsp;УД: {{ box.parrent.name }},&nbsp;&nbsp;КРТ: {{ box.name }}-{{ box.num }}
        </h3>
    </div>
</div>
<br>

<div class="c_base_w">
    <div align="center">
        <form method="post">
            {% csrf_token %}
            
            <table>
                <tr class="t_header1">
                    <td width="360px" align="right">
                        {{ form.box_name.label }}&nbsp;&#9658;&nbsp;{{ form.box_name }}
                    </td>
                    <td align="center"></td>
                    <td width="360px" align="left">
                        {{ form.box_num }}&nbsp;&#9668;&nbsp;{{ form.box_num.label }}
                    </td>
                </tr>
                <tr class="tone2">
                    <td align="right">
                        {{ form.box_stairway.label }}&nbsp;&#9658;&nbsp;{{ form.box_stairway }}
                    </td>
                    <td align="center"></td>
                    <td align="left">
                        {{ form.floor }}&nbsp;&#9668;&nbsp;{{ form.floor.label }}
                    </td>
                </tr>
                <tr class="t_footer">
                    <td align="right">
                        {{ form.rack_num.label }}&nbsp;&#9658;&nbsp;{{ form.rack_num }}
                    </td>
                    <td align="center"></td>
                    <td align="left">
                        {{ form.rack_pos }}&nbsp;&#9668;&nbsp;{{ form.rack_pos.label }}
                    </td>
                </tr>
                <tr class="tone1"><td colspan="3">&nbsp;</td></tr>
                <tr class="tone1">
                    <td align="right">{{ form.box_name_type.label }}:</td>
                    <td align="center"></td>
                    <td align="left">{{ form.box_name_type }}</td>
                </tr>
                <tr class="tone1"><td colspan="3">&nbsp;</td></tr>
                <tr class="t_header1">
                    <td colspan="3" align="center"><label>{{ form.add_cable }} добавить кабель</label></td>
                </tr>
                <tr class="tone2">
                    <td align="right">{{ form.cable_name_type.label }}:</td>
                    <td align="center"></td>
                    <td align="left">{{ form.cable_name_type }}</td>
                </tr>
                <tr class="t_footer">
                    <td colspan="3" align="center"><label>{{ form.del_cable }} удалить последний кабель</label></td>
                </tr>
                <tr class="tone1"><td colspan="3">&nbsp;</td></tr>
                <tr class="tone1">
                    <td colspan="3" align="center">{{ form.serv_area.label }}:</td>
                </tr>
                <tr class="tone1">
                    <td colspan="3" align="center">{{ form.serv_area }}</td>
                </tr>
                <tr class="tone1">
                    <td colspan="3" align="center"><br>{{ form.prim.label }}:</td>
                </tr>
                <tr class="tone1">
                    <td colspan="3" align="center">{{ form.prim }}</td>
                </tr>

            </table>
            <br>
 
            <div class="c_base_w t_footer3">
                <div align="center">
                    <input type="submit" value="     OK     ">
                    <input type="button" value="отмена" onClick='location.href="../../"'>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}