{% extends 'main.html' %}

{% block cross %}
<link rel="stylesheet" type="text/css" href="/static/colors.css">
<link rel="stylesheet" type="text/css" href="/static/cross_ext_int.css">

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            {{ s_p_title.0 }} {{ s_p_title.1 }},
            &nbsp;&nbsp;УД: {{ s_p_title.2 }}, кросс: {{ s_p_title.3 }}, порт: {{ s_p_title.4 }}
            &nbsp;&#9658;&#9658;&#9658;&nbsp;{{ bu2.name }} {{ bu2.house_num }}
        </h3>
    </div>
</div>
<br>

<div class="c_base_w cr_ext">
    {% for ob in lo %}
    <details open="open">
        <summary><b>&emsp;&emsp;{{ ob.name }}</b></summary>
        {% for cr in ob.cr %}
            <div class="ob_cross">
                <div class="ob_name">
                    <a href="/cross/build={{ bu2.id }}/locker={{ cr.parrent_id }}/cr={{ cr.id }}" target="_blank"><b>{{ cr.name }}</b></a>
                </div>
                <div class="ob_ports tone2">
                {% for ob2 in cr.cr_p %}
                    <div class="ob_ports_line">
                    {% for ob3 in ob2 %}
                        <input type="button" value="{{ ob3.1 }}" title="{{ ob3.4 }}" 
                               class="_cr_ext_int_st_{{ ob3.2 }} {% if not ob3.3 %} not_valid {% endif %}"
                               {% if not ob3.2 %} onClick='location.href="d_p={{ ob3.0 }}/"'{% endif %}>
                    {% endfor %}     
                    </div>
                {% endfor %}
                </div>
                <div class="ob_r"></div>
            </div>
        {% endfor %}
    </details>
    {% endfor %}
</div>

<div class="c_base_w t_footer3">
    <div class="_flex_c">
        <input type="button" value="новый поиск" onClick='location.href="../ext_cr1/"'>
        <input type="button" value="отмена" onClick='location.href="../../"'>
    </div>
</div>

{% endblock %}