{% extends 'main.html' %}

{% block cross %}
<link rel="stylesheet" type="text/css" href="/static/colors.css">

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            {{ s_p_id.parrent.parrent.parrent.name }} {{ s_p_id.parrent.parrent.parrent.house_num }},&nbsp&nbspУД: {{ s_p_id.parrent.parrent.name }}, кросс: {{ s_p_id.parrent.name }}, порт: {{ s_p_id.num }}&nbsp&nbsp▶&nbsp▶&nbsp▶&nbsp&nbsp{{ d_p_id.parrent.parrent.parrent.name }} {{ d_p_id.parrent.parrent.parrent.house_num }},
            &nbsp;&nbsp;УД: {{ d_p_id.parrent.parrent.name }}, кросс: {{ d_p_id.parrent.name }}, порт: {{ d_p_id.num }}
        </h3>
    </div>
</div>
<br>

<div class="c_base_w" align="center">
    <form method="post">
        {% csrf_token %}
        
        <div class="form_flex_c_wr">
            <div align="left">
                &emsp;&emsp;&emsp;<i>{{ form.status.label }}:&emsp;&emsp;&emsp;</i><br>
                &emsp;&emsp;&emsp;&emsp;<label class="_cr_st_txt_1">{{ form.status.1 }}</label><br>
                &emsp;&emsp;&emsp;&emsp;<label class="_cr_st_txt_2">{{ form.status.2 }}</label><br>
                &emsp;&emsp;&emsp;&emsp;<label class="_cr_st_txt_3">{{ form.status.3 }}</label><br>
                {% if s_type != '3' and d_type != '3' %}
                &emsp;&emsp;&emsp;&emsp;<label class="_cr_st_txt_4">{{ form.status.4 }}</label><br>
                {% endif %}
            </div>
        </div>
        <br>

        <div class="c_base_w c_footer t_footer">
            <div class="c_footer_nav"></div>
            <div class="c_footer_nav">
                <input type="submit" value="     OK     ">
                <input type="button" value="другой порт" onClick='location.href="../"'>
                <input type="button" value="новый поиск" onClick='location.href="../../ext_cr1/"'>
                <input type="button" value="отмена" onClick='location.href="../../../"'>
            </div>
        </div>

    </form>
</div>

{% endblock %}