{% extends 'main.html' %}

{% block cross %}

{% if str_list %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            {{ s_p_id.parrent.parrent.parrent.name }} {{ s_p_id.parrent.parrent.parrent.house_num }},&nbsp;&nbsp;УД: {{ s_p_id.parrent.parrent.name }}, кросс: {{ s_p_id.parrent.name }}, порт: {{ s_p_id.num }}
            &nbsp;&#9658;&#9658;&#9658;&nbsp;{{ str_list.0.name }}
        </h3>
    </div>
</div>

<table class="c_base_w t_footer3" width="100%">
    <caption><i>найденные дома:</i></caption>
    <tr>
        <td align="center">
        {% for ob in str_list %}
            <input type="button" enabled="1" value="{{ ob.house_num }}" onClick='location.href="../ext_cr2={{ ob.id }}/"' style="width:50px">
            {% endfor %}
        </td>
    </tr>
</table>
<br>

<div class="c_base_w t_footer3">
    <div align="center">
        <input type="button" value="новый поиск" onClick='location.href="../ext_cr1/"'>
        <input type="button" value="отмена" onClick='location.href="../../"'>
    </div>
</div>
    
{% else %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
            {{ s_p_id.parrent.parrent.parrent.name }} {{ s_p_id.parrent.parrent.parrent.house_num }},&nbsp&nbspУД: {{ s_p_id.parrent.parrent.name }}, кросс: {{ s_p_id.parrent.name }}, порт: {{ s_p_id.num }}
            &nbsp;&#9658;&#9658;&#9658;&nbsp;{{ str_list.0.name }}
        </h3>
    </div>
</div>
<br>

<div class="c_base_w t_footer3">
    <div align="center">
        <form method="post">
            {% csrf_token %}
            {{ form }}&nbsp;
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="../../"'>
        </form>
    </div>
</div>
<br>

<div class="c_base_w t_footer3">
    <div align="center">
    {% for ob in agr %}
        <input type="button" value="{{ ob.co }}" onClick='location.href="../ext_cr2={{ ob.parrent.id }}"'>
    {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}