{% extends 'main.html' %}

{% block cross %}

    <table border="0" id="templ_header">
        <tr>
            <td width="1000px" align="left">
                <h3>&nbsp&nbsp{{ s_p_id.parrent.parrent.parrent.name }} {{ s_p_id.parrent.parrent.parrent.house_num }},&nbsp&nbspУД: {{ s_p_id.parrent.parrent.name }}, кросс: {{ s_p_id.parrent.name }}, порт: {{ s_p_id.num }}&nbsp&nbsp>>>>&nbsp&nbsp{{ bu2.name }} {{ bu2.house_num }}</h3>
            </td>
            <td width="280px" align="right">
                <input type="button" value="новый поиск" onClick='location.href="../ext_cr1/"'>
                <input type="button" value="отмена" onClick='location.href="../../"'>&nbsp
            </td>
        </tr>
    </table>
    <br>
    
<table border="0">
    <tr>
        <td width="1282px" style="background-color:silver" align="center">
        <br>
{% for ob1 in cr %}
    <table border="0">
    <caption>{{ ob1.parrent }}&nbsp<a href="/cross/build={{ ob1.bu }}/locker={{ ob1.lo }}/cr={{ ob1.id }}"  target="_blank"><strong>{{ ob1.name }}</strong></a></caption>
    
    {% for ob2 in ob1.cr_p %}
        <tr>
        {% for ob3 in ob2 %}
            <td align="center" style="background-color:silver">
                {% if ob3.3 == False %}
                    <input type="button" style="background:none; border-color:black; background-color:gray; color:white; border-radius:20px; width:30px; height:30px" value="{{ ob3.1 }}" title="{{ ob3.4 }} (неисправен)">
                {% elif ob3.2 == 0 %}
                    <input type="button" style="background:none; border-color:black; background-color:{{ ob3.5 }}; color:black; border-radius:20px; width:30px; height:30px" value="{{ ob3.1 }}" onClick='location.href="d_p={{ ob3.0 }}/"' title="{{ ob3.4 }}">
                {% elif ob3.2 == 1 %}
                    <input type="button" style="background:none; border-color:black; background-color:{{ ob3.5 }}; color:black; border-radius:20px; width:30px; height:30px" value="{{ ob3.1 }}" title="{{ ob3.4 }}">
                {% elif ob3.2 == 2 %}
                    <input type="button" style="background:none; border-color:black; background-color:{{ ob3.5 }}; color:black; border-radius:20px; width:30px; height:30px" value="{{ ob3.1 }}" title="{{ ob3.4 }}">
                {% elif ob3.2 == 3 %}
                    <input type="button" style="background:none; border-color:black; background-color:{{ ob3.5 }}; color:black; border-radius:20px; width:30px; height:30px" value="{{ ob3.1 }}" title="{{ ob3.4 }}">
                {% elif ob3.2 == 4 %}
                    <input type="button" style="background:none; border-color:black; background-color:{{ ob3.5 }}; color:black; border-radius:20px; width:30px; height:30px" value="{{ ob3.1 }}" title="{{ ob3.4 }}">
                {% endif %}
            </td>
        {% endfor %}   
        </tr>
    {% endfor %}
    </table><br>
{% endfor %}

        </td>
    </tr>
</table>

    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="900px">&nbsp</td>
            <td width="380px" align="right">
                <input type="button" value="новый поиск" onClick='location.href="../ext_cr1/"'>
                <input type="button" value="отмена" onClick='location.href="../../"'>&nbsp
            </td>
        </tr>
    </table>
    

{% endblock %}
