{% extends 'main.html' %}

{% block cross %}

    <table border="0" id="templ_header">
        <tr>
        {% if bu %}
            <td width="1000px" align="left"><h3>&nbsp&nbsp{{ bu.name }} {{ bu.house_num }}</h3></td>
            <td width="280px" align="right">&nbsp</td>
        {% else %}
            <td width="1000px" align="left"><h3>&nbsp&nbsp{{ lo.parrent.name }} {{ lo.parrent.house_num }},&nbsp&nbspУД: {{ lo.name }}</h3></td>
            <td width="280px" align="right">&nbsp</td>
        {% endif %}
        </tr>
    </table>
    <br>
<form method="post">
    {% csrf_token %}
    
    <table border="0">
        {% if form.box_name %}
        <tr>
            <td width="220px" align="right"><br>
                &nbsp{{ form.box_name.label }}&nbsp&nbsp->&nbsp&nbsp{{ form.box_name }}&nbsp
            </td>
            <td align="center"><br>-</td>
            <td width="220px" align="left"><br>
                &nbsp{{ form.box_num }}&nbsp&nbsp<-&nbsp&nbsp{{ form.box_num.label }}&nbsp
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.box_name_type.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.box_name_type }}&nbsp</td>
        </tr>
        {% else %}
        <tr>
            <td width="220px" align="right">&nbsp{{ form.lo_name.label }}{{ form.cr_name.label }}:&nbsp</td>
            <td align="center"></td>
            <td width="220px" align="left">&nbsp{{ form.lo_name }}{{ form.cr_name }}&nbsp</td>
        </tr>
        {% endif %}
        <tr>
            <td align="right">&nbsp{{ form.lo_name_type.label }}{{ form.cr_name_type.label }}{{ form.cable_name_type.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.lo_name_type }}{{ form.cr_name_type }}{{ form.cable_name_type }}&nbsp</td>
        </tr>
        {% if form.lo_name %}
        <tr>
            <td align="right">&nbsp{{ form.co.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.co }}&nbsp</td>
        </tr>
        {% endif %}
    </table>
    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="640px" align="right">
                <input type="submit" value="     OK     ">&nbsp
            </td>
            <td width="640px" align="left">
                <input type="button" value="отмена" onClick='location.href="../"'>
            </td>
        </tr>
    </table>

    
</form>


{% endblock %}
