{% extends 'main.html' %}

{% block cross %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>
        {% if bu %} {{ bu.name }} {{ bu.house_num }}
        {% else %}  {{ lo.parrent.name }} {{ lo.parrent.house_num }},&nbsp;&nbsp;УД: {{ lo.name }}
        {% endif %}
        </h3>
    </div>
</div>
<br>

<div class="c_base_w">
    <div align="center">
        <form method="post">
            {% csrf_token %}
            
            <table class="t_footer3">
                {% if form.lo_name %}
                <tr>
                    <td width="220px" align="right">{{ form.lo_name.label }}:</td>
                    <td align="center"></td>
                    <td width="220px" align="left">{{ form.lo_name }}</td>
                </tr>
                <tr>
                    <td align="right">{{ form.lo_name_type.label }}:</td>
                    <td align="center"></td>
                    <td align="left">{{ form.lo_name_type }}</td>
                </tr>
                <tr>
                    <td align="right">{{ form.co.label }}:</td>
                    <td align="center"></td>
                    <td align="left">{{ form.co }}</td>
                </tr>
                {% elif form.cr_name %}
                <tr>
                    <td width="220px" align="right">{{ form.cr_name.label }}:</td>
                    <td align="center"></td>
                    <td width="220px" align="left">{{ form.cr_name }}</td>
                </tr>
                <tr>
                    <td align="right">{{ form.cr_name_type.label }}:</td>
                    <td align="center"></td>
                    <td align="left">{{ form.cr_name_type }}</td>
                </tr>
                {% elif form.box_name %}
                <tr>
                    <td width="220px" align="right"><br>
                        {{ form.box_name.label }}&nbsp;&#9658;&nbsp;{{ form.box_name }}
                    </td>
                    <td align="center"><br>&#8722;</td>
                    <td width="220px" align="left"><br>
                        {{ form.box_num }}&nbsp;&#9668;&nbsp;{{ form.box_num.label }}
                    </td>
                </tr>
                <tr>
                    <td align="right"><br>{{ form.box_name_type.label }}:</td>
                    <td align="center"></td>
                    <td align="left"><br>{{ form.box_name_type }}</td>
                </tr>
                <tr>
                    <td align="right"><br>{{ form.cable_name_type.label }}:</td>
                    <td align="center"></td>
                    <td align="left"><br>{{ form.cable_name_type }}</td>
                </tr>
                {% endif %}

            </table>
            <br>

            <div class="c_base_w t_footer3">
                <div align="center">
                    <input type="submit" value="     OK     ">
                    <input type="button" value="отмена" onClick='location.href="../"'>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}