{% extends 'main.html' %}

{% block cross %}

    <table border="0" id="templ_header">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbsp{{ dev.parrent.parrent.name }} {{ dev.parrent.parrent.house_num }},&nbsp&nbspУД: {{ dev.parrent.name }},&nbsp&nbspактивное аборудование: {{ dev.name }}</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>
    <br>
<form method="post">
    {% csrf_token %}
    
    <table border="0">
        <tr>
            <td align="right">&nbsp{{ form.parrent_p.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.parrent_p }}&nbsp ( 0-локальный интерфейс )</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.p_alias.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.p_alias }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.vlan_untag.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.vlan_untag }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.ip.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.ip }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.prim.label }}:&nbsp</td>
            <td align="center"></td>
            <td align="left">&nbsp{{ form.prim }}&nbsp</td>
        </tr>
    </table>
    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="640px" align="right">
                <input type="submit" value="     OK     ">&nbsp
            </td>
            <td width="640px" align="left">
                <input type="button" value="отмена" onClick='location.href="../l2=1/"'>
            </td>
        </tr>
    </table>
    
</form>


{% endblock %}
