{% extends 'main.html' %}

{% block cross %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav">
        <h3>{{ lo.parrent.name }} {{ lo.parrent.house_num }},&nbsp;&nbsp;УД: {{ lo.name }}</h3>
    </div>
</div>
<br>

<div class="c_base_w">
    <div align="center">
        <form method="post">
            {% csrf_token %}

            <table class="tone2">
                <tr style="border: 1px solid #66827c;">
                    <td width="200px" align="right">{{ form.dev_name.label }}</td>
                    <td width="300px" align="left">{{ form.dev_name }}</td>
                </tr>
                <tr class="tone1" style="border: 1px solid #66827c;">
                    <td align="center">Тип устройства</td>
                    <td align="center">Шаблон&nbsp;&nbsp;(кол-во портов)</td>
                </tr>
                {% for ob in t_list %}
                {% if ob.next_type %}
                    </td>
                </tr>
                <tr style="border: 1px solid #66827c;">
                    <td align="right">{{ ob.next_type }}</td>
                    <td align="left">
                {% endif %}
                        &nbsp;
                        <input type="radio" name="dev_name_type2" id="{{ ob.id }}" value="{{ ob.id }}">
                        <label for="{{ ob.id }}" style="color:black"><b>{{ ob.name }}</b>&nbsp;&nbsp;({{ ob.ports }})</label>
                        <br>
                {% endfor %}
                    </td>
                </tr>
               <tr>
                    <td align="right">{{ form.vlantz.label }}</td>
                    <td align="left">{{ form.vlantz }}</td>
                </tr>
            </table>
            <br>

            <div class="c_base_w t_footer3">
                <div class="_flex_c">
                    <input type="submit" value="     OK     ">
                    <input type="button" value="отмена" onClick='location.href="../"'>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}