{% extends 'main.html' %}

{% block cross %}

    <table class="t_header1">
        <tr>
            <td width="1000px" align="left"><h3>&nbsp&nbsp{{ lo.parrent.name }} {{ lo.parrent.house_num }},&nbsp&nbspУД: {{ lo.name }}</h3></td>
            <td width="280px" align="right">&nbsp</td>
        </tr>
    </table>
    <br>
<form method="post">
    {% csrf_token %}

    <table border="1">
        <tr>
            <td width="200px" align="right">&nbsp{{ form.dev_name.label }}&nbsp</td>
            <td width="400px" align="left">&nbsp&nbsp{{ form.dev_name }}&nbsp</td>
        </tr>
        <tr class="tr-main">
            <td align="center">&nbspТип устройства&nbsp</td>
            <td align="center">&nbspШаблон&nbsp&nbsp(кол-во портов)&nbsp</td>
            <!--<td width="120px" align="center">кол-во портов</td>-->
        </tr>
        {% for ob in t_list %}
        {% if ob.next_type %}
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ ob.next_type }}&nbsp</td>
            <td align="left">
        {% endif %}
                &nbsp
                <input type="radio" name="dev_name_type2" id="{{ ob.id }}" value="{{ ob.id }}">
                <label for="{{ ob.id }}" style="color:black"><b>{{ ob.name }}</b>&nbsp&nbsp({{ ob.ports }})</label>
                <br>
            <!--<td align="center">&nbsp{{ ob.ports }}&nbsp</td>-->
        {% endfor %}
            </td>
        </tr>
    </table>
    
    <br>
    <table class="t_footer">
        <tr>
            <td width="640px" align="right">
                <input type="submit" value="     OK     ">&nbsp
            </td>
            <td width="640px" align="left">
                <input type="button" value="отмена" onClick='location.href="../"'>
            </td>
        </tr>
    </table>
    
</form>


{% endblock %}
