
<details {% if lo_list %} open="open"{% endif %}>
    <summary>
        &nbsp;&nbsp;
        {% if not lo_list %} УД отсутствуют&nbsp;&nbsp;
            {% if perms.core.can_new and not bu_double %}
            <a href="/cross/build={{ bu.id }}/new_locker/">
                <img src="/static/images/icon_addlink.gif" alt="+" title="добавить">
            </a>
            {% endif %}
        {% else %} УД
        {% endif %}
    </summary>
<table class="lo_list">
    <tr class="t_header1 row_title">
        <th class="col_pic"></th>
        <th class="col_name">название</th>
        <th class="col_type">тип</th>
        <th class="col_oper3"></th>
        <th class="col_small3">статус</th>
        <th class="col_small3">дата приемки</th>
        <th class="col_oper3">CO</th>
        <th class="col_small4">ключи</th>
        <th>расположение</th>
        <th>примечание</th>
        <th class="col_small3">владелец</th>
        <th class="col_oper2"></th>
    </tr>
    {% for lo in lo_list %}
    <tr class="tr_hover {% if lo.id == lo_id %}sel_marker{% endif %}">
        <td class="col_pic sel_marker_item">
            {% if lo.agr %}<img class="lo_img" src="/static/images/lo1_1.png" alt="УД">
            {% elif lo.detached %}<img class="lo_img" src="/static/images/lo2.png" alt="УД">
            {% else %}<img class="lo_img" src="/static/images/lo3.png" alt="УД">
            {% endif %}
        </td>
        <td><b><a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/">{{ lo.name }}</a></b></td>
        <td><a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/racks/">{{ lo.name_type }}</a></td>
        <td class="card_txt_c">
        {% if lo.coord_x > 30 and lo.coord_y > 30 %}
            <a href="/find/map/?coord={{ lo.coord_x }},{{ lo.coord_y }}" target="_blank">
                <img class="link_oper" src="/static/images/selector-search.gif" alt="M" title="найти на карте">
            </a>
        {% else %}
            <a href="/find/map/" target="_blank">
                <img class="link_oper" src="/static/img/icon_error.gif" alt="&#11097;" title="не внесены координаты">
            </a>
        {% endif %}&nbsp;
            <a href="/cable/coup={{ lo.coup_id }}/" target="_blank">
                <img class="link_oper" src="/static/images/mufta.png" alt="M" title="просмотр муфты">
            </a>&nbsp;
            <a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/energy">
                <img class="link_oper" src="/static/images/shut_{{ lo.en_model }}.png" alt="Э" title="электроэнергия">
            </a>
        </td>
        <td class="_lo_status_{{ lo.status2.0 }} card_txt_c">{{ lo.status2.1 }}</td>
        <td class="card_txt_c">
        {% if lo.date_ent|date:"d.m.Y" != "" %}
            {% if lo.status == 2 or lo.status == 3 %}{{ lo.date_ent|date:"d.m.Y" }}{% endif %}
        {% else %}
            {% if lo.status == 2 or lo.status == 3 %}----{% endif %}
        {% endif %}
        </td>
        <td>{{ lo.co }}</td>
        <td class="prim">{% if lo.cab_door %}&#128273; {{ lo.cab_door }} {{ lo.cab_key }}{% endif %}</td>
        <td class="prim">{{ lo.rasp }}</td>
        <td class="prim">{{ lo.prim }}</td>
        <td class="prim">{{ lo.object_owner }}</td>
        <td class="card_txt_c">
            <a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/edit">
                <img class="link_oper" src="/static/images/edit.png" alt="." title="редактирование">
            </a>&nbsp;
            <a href="/core/logs/t=1/id={{ lo.id }}">
                <img class="link_oper" src="/static/images/icon_info.png" alt="?" title="история операций">
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr class="t_footer row_bottom">
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td class="col_add">&nbsp;&nbsp;
        {% if perms.core.can_new %}
            <a href="/cross/build={{ bu.id }}/new_locker/">
                <img src="/static/images/icon_addlink.gif" alt="+" title="добавить УД">
            </a>&nbsp;&nbsp;
        {% endif %}
        </td>
    </tr>
</table>
</details>
