{% extends 'main.html' %}

{% block cross %}
<link rel="stylesheet" type="text/css" href="/static/colors.css">
<link rel="stylesheet" type="text/css" href="/static/cross.css">

{% include "show_build_header.html" %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav2">
        {% for nav in dev_list %}
            {% if nav.id == dev.id %}
                <label class="color_link2"><b>{{ nav.name }}</b></label>
            {% else %}
                <a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/dev={{ nav.id }}">{{ nav.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<br>
{% if bil_rq.0 %} 
<div class="c_base_w bil_rq">{% include "bil_rq.html" %}</div>
{% elif su_rq %}
<div class="c_base_w bil_rq">{% include "su_rq.html" %}</div>
{% endif %}

<div class="c_base_w">
    <div class="dev_list">
        <div class="cr_h_1 t_header1 _col_3">порт</div>
        <div class="cr_h_1 t_header1 _col_6">внутренняя связь</div>
        <div class="cr_h_1 t_header1 _col_4">внешняя связь</div>
        <div class="cr_h_1 t_header1 _col_3"></div>

        <div class="cr_h_2 t_footer">№</div>
        <div class="cr_h_2 t_footer">тип</div>
        <div class="cr_h_2 t_footer">алиас</div>
        <div class="cr_h_2 t_footer">тип</div>
        <div class="cr_h_2 t_footer">устр./КРТ</div>
        <div class="cr_h_2 t_footer">порт/пл.(пары)</div>
        <div class="cr_h_2 t_footer">&#10010;&#10006;</div>
        <div class="cr_h_2 t_footer">договор</div>
        <div class="cr_h_2 t_footer">кв</div>

        <div class="cr_h_2 t_footer">внешний адрес / история пары</div>
        <div class="cr_h_2 t_footer">УД / название устр.</div>
        <div class="cr_h_2 t_footer">кросс</div>
        <div class="cr_h_2 t_footer">порт</div>
        <div class="cr_h_2 t_footer">примечание</div>
        <div class="cr_h_2 t_footer">...</div>
        <div class="cr_h_2 t_footer">i</div>

    {% for ob in dev_p_list %}
        <div class="row_grid">
            <div class="cr_p _ch_valid_{{ ob.p_valid }} {% if ob.id == sel %}sel_marker{% endif %}">
                <label title="id-{{ ob.id }}">&nbsp;{{ ob.num }}&nbsp;</label>
            </div>
            <div class="cr_p _ch_valid_{{ ob.p_valid }}">
            {% if ob.port_t_x != 2 %}<img src="/static/images/laser2_1.png" alt=" " title="оптический порт">{% endif %}
            {% if ob.port_t_x != 1 %}<img src="/static/images/rj45_1_1.png" alt=" " title="медный порт">{% endif %}
            </div>
            <div class="cr_p _txt_l {% if ob.uplink %}_dev_p_uplink{% endif %}">{{ ob.p_alias }}</div>
            <div class="cr_p">
                <img src="/static/images/obj_dev/{{ ob.c_down.0 }}" alt=" " title="">
            </div>
            
        {% if ob.c_down.1 == 'link_err' %}
            <div class="cr_p tone_error _col_9">link error!!!</div>
        {% else %}
            <div class="cr_p _cr_st_{{ ob.int_c_status }}">
                <a href="{{ ob.c_down.7 }}/?sel={{ ob.c_down.10 }}" target="_blank"><b>{{ ob.c_down.1 }}</b></a>
            </div>
            <div class="cr_p _cr_st_{{ ob.int_c_status }}">
            {% if ob.c_down.1|slice:":1" == "0" %}
                <a href="{{ ob.c_down.7 }}/?sel={{ ob.c_down.10 }}" target="_blank"><b>напрямую</b></a>
            {% elif ob.c_down.2 %}
                <a href="{{ ob.c_down.7 }}/?sel={{ ob.c_down.10 }}" target="_blank"><b>&nbsp;{{ ob.c_down.2 }}&nbsp;</b></a>
            {% endif %}
            </div>
            <div class="cr_p">
                {% if ob.int_c_status != 0 %}
                <a href="del={{ ob.id }}/s_type=2/">&nbsp;<img src="/static/images/icon_deletelink.gif" alt="X" title="удаление кроссировки">&nbsp;</a>
                {% elif ob.p_valid == True %}
                <a href="s_p={{ ob.id }}/s_type=2/">&nbsp;<img src="/static/images/icon_addlink.gif" alt="+" title="добавление кроссировки">&nbsp;</a>
                {% endif %}
            </div>
            <div class="cr_p _cr_st_{{ ob.c_down.6 }}">
            {% if ob.c_down.4 == 'billing' %}
                <a href="?sel={{ ob.id }}&bil_rq={{ ob.c_down.3.0 }}" title="{{ ob.c_down.3.2 }}" style="color:black">{{ ob.c_down.3.0 }}</a>
            {% elif ob.c_down.4 == 'subunit' %}
                <a href="?sel={{ ob.id }}&su_rq={{ ob.c_down.3.0 }}" title="{{ ob.c_down.3.2 }}" style="color:black">{{ ob.c_down.3.0 }}</a>
            {% else %}
                <label title="{{ ob.c_down.3.2 }}">{{ ob.c_down.3.0 }}</label>
            {% endif %}
            </div>
            <div class="cr_p _cr_st_{{ ob.c_down.6 }}">
                <label title="{{ ob.c_down.5 }}">{{ ob.c_down.3.1 }}</label>
            </div>

            {% if ob.c_down.8 %}
            <div class="cr_p _cr_st_{{ ob.c_down.9 }}">
                {{ ob.c_down.8.0.1 }}&nbsp;{{ ob.c_down.8.0.2 }}
            </div>
            <div class="cr_p _cr_st_{{ ob.c_down.9 }}">
                <a href="/cross/build={{ ob.c_down.8.0.0 }}/locker={{ ob.c_down.8.1.0 }}" target="_blank">
                    <b>{{ ob.c_down.8.1.1 }}</b>
                </a>
            </div>
            <div class="cr_p _cr_st_{{ ob.c_down.9 }}">
                <a href="/cross/build={{ ob.c_down.8.0.0 }}/locker={{ ob.c_down.8.1.0 }}/cr={{ ob.c_down.8.2.0 }}/?sel={{ ob.c_down.8.3.0 }}" target="_blank">
                    <b>{{ ob.c_down.8.2.1 }}</b>
                </a>
            </div>
            <div class="cr_p _cr_st_{{ ob.c_down.9 }}">
                <a href="/cross/build={{ ob.c_down.8.0.0 }}/locker={{ ob.c_down.8.1.0 }}/cr={{ ob.c_down.8.2.0 }}/?sel={{ ob.c_down.8.3.0 }}" target="_blank">
                    <b>&nbsp;{{ ob.c_down.8.3.1 }}&nbsp;</b>
                </a>
            </div>
            {% else %}
            <div class="cr_p _cr_st_{{ ob.c_down.9 }} _txt_l _prim">
                {% if ob.c_down.5 %}&nbsp;&nbsp;{{ ob.c_down.5 }}{% endif %}
            </div>
            <div class="cr_p _cr_st_{{ ob.c_down.9 }} _col_3 _txt_l _prim">
                {% if ob.c_down.4 == 'subunit' %}&nbsp;&nbsp;{{ ob.c_down.3.2 }}{% endif %}
            </div>
            {% endif %}

        {% endif %}
            <div class="cr_p _txt_l _prim">{{ ob.prim }}</div>
            <div class="cr_p">
                <a href="p_edit={{ ob.id }}/">&nbsp;<img src="/static/images/edit.png" alt="р" title="редактирование">&nbsp;</a>
            </div>
            <div class="cr_p">
                <a href="/core/logs/t=6/id={{ ob.id }}">&nbsp;<img src="/static/images/icon_info.png" alt="i" title="история операций">&nbsp;</a>
            </div>

        </div>
    {% endfor %}
    
    </div>
</div>

<div class="c_base_w c_footer t_footer">
    <div class="c_footer_nav c_footer_txt">
        {{ dev.obj_type.parrent.name }}: <b>{{ dev.obj_type.name }}</b>
        {% if dev.ip_addr %} IP:<b>{{ dev.ip_addr }}{% if dev.ip_mask %} / {{ dev.ip_mask }}{% endif %}</b>{% endif %}
        {% if dev.mac_addr != "" %} MAC:<b>{{ dev.mac_addr }}</b>{% endif %}
        {% if dev.sn != "" %} SN:<b>{{ dev.sn }}</b>{% endif %}
        {% if dev.ip_gateway %} gateway:<b>{{ dev.ip_gateway }}</b>{% endif %}
        {% if dev.vlan %} vlan:<b>{{ dev.vlan }}</b>{% endif %}
        {#{% if dev.vers_po != "" %} версия ПО: <b>{{ dev.vers_po }}</b>{% endif %}#}
        {% if dev.man_conf != "" %} настроил: <b>{{ dev.man_conf }}</b>{% endif %}
        {% if dev.man_install != "" %} монтаж: <b>{{ dev.man_install }}</b>{% endif %}
        {% if dev.date_ent|date:"d.m.Y" != "" %} дата ввода: <b>{{ dev.date_ent|date:"d.m.Y" }}</b>{% endif %}
        {% if dev.date_repl|date:"d.m.Y" != "" %} дата замены: <b>{{ dev.date_repl|date:"d.m.Y" }}</b>{% endif %}
    </div>
    <div class="c_footer_nav">
        <!-- <input type="button" value="абоненты" onClick='window.open("/statist/agr_to_abon={{ dev.id }}")'> -->
        <input type="button" value="история" onClick='location.href="/core/logs/t=3/id={{ dev.id }}"'>
        <input type="button" value="редактирование" onClick='location.href="edit"'>
        <input type="button" value="удалить" onClick='location.href="../del_dev={{ dev.id }}"'>
        <input type="button" value="закрыть" onClick='location.href="/cross/build={{ bu.id }}/locker={{ lo.id }}"'>
    </div>

</div>


{% endblock %}
