<table border="1">
    <!-- <caption class="t_header1">юридическая информация:</caption> -->
    <tr>
        <td class="tone2" width="300px" align="right">УК/ТСЖ/ЖСК&nbsp</td>
        <td  width="840px">&nbsp<b>{{ jyr_info.0.name }}</b>&nbsp&nbsp&nbsp&nbsp{{ jyr_info.0.info }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Контактная информация уполномоченного&nbsp<br> представителя собственников&nbsp</td>
        <td>&nbsp{{ bu.info_cont }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Договор на размещение оборудования&nbsp</td>
        <td>&nbsp{{ bu.cnt_place }}&nbsp&nbsp&nbsp&nbsp{{ bu.cnt_price }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Сроки оплаты по договору (за размещение)&nbsp</td>
        {% if jyr_info.1.2 %}
        <td style="background-color:orange">
        {% else %}
        <td>
        {% endif %}
            &nbsp{{ jyr_info.1.0 }}&nbsp{{ jyr_info.1.1 }}
        </td>
    </tr>
    <tr>
        <td class="tone2" align="right">Акты сверки показаний и возмещение эл/эн&nbsp</td>
        <td>&nbsp{{ bu.electricity }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Информационные таблички&nbsp</td>
        <td>&nbsp{% if bu.info_signs %}Да{% else %}Нет{% endif %}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Льгота старшему дома&nbsp</td>
        <td>&nbsp{{ bu.senior_home }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Наличие тех.условий и актов разграничения&nbsp</td>
        <td>&nbsp{{ bu.tech_conditions }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Доступ&nbsp</td>
        <td>&nbsp{{ bu.access }}</td>
    </tr>
    <tr>
        <td class="tone2" align="right">Примечание&nbsp</td>
        <td>&nbsp{{ bu.prim }}</td>
    </tr>
    <!--<tr>
        <td align="right" style="background-color:#dddddd">Сторонние провайдеры&nbsp</td>
        <td>&nbspMTC, Ростелеком</td>
    </tr>-->
</table> 
