
<details {% if lo_obj.3 %} open="open"{% endif %}>
    <summary>
        &nbsp;&nbsp;
        {% if not lo_obj.3 %} служебные устройства отсутствуют&nbsp;&nbsp;
            {% if perms.core.can_new %}
            <a href="new_su/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавить"></a>
            {% endif %}
        {% else %} служебные устройства
        {% endif %}
    </summary>
<table class="subunit_list">
    <tr class="t_header1 row_title">
        <th class="col_pic"></th>
        <th class="col_name">название</th>
        <th class="col_type">модель</th>
        <th class="col_small">под.</th>
        <th class="col_small">этаж</th>
        <th class="col_small">эл.пит.</th>
        <th class="col_small4">кроссировки</th>
        <th>примечание</th>
        <th class="col_small3">владелец</th>
        <th class="col_oper2"></th>
    </tr>
    {% for ob in lo_obj.3 %}
    <tr class="tr_hover">
        <td class="col_pic"><img src="/static/images/obj_subunit/subunit_{{ ob.info.1 }}.png" alt="" title="{{ ob.info.2 }}"></td>
        <td><b>{{ ob.name }}</b></td>
        <td>{{ ob.info.0 }}</td>
        <td class="col_small">{{ ob.stairway }}</td>
        <td class="col_small">{{ ob.floor }}</td>
        <td class="col_small"><img src="/static/images/poe_{{ ob.poe }}.png" alt="" title="{{ ob.info.3 }}"></td>
        <td>
        {% if ob.box %}
            <b><a href="box={{ ob.box.parrent.id }}/?sel={{ ob.box.id }}">{{ ob.box.parrent.name }}-{{ ob.box.parrent.num }}-{{ ob.box.p_alias }}</a></b>
        {% endif %}
        </td>
        <td class="prim">{{ ob.prim }}</td>
        <td class="prim">{{ ob.object_owner }}</td>
        <td class="col_oper2">
            <a href="subunit={{ ob.id }}"><img src="/static/images/edit.png" alt="р" title="редактирование"></a>&nbsp;
            <a href="/core/logs/t=13/id={{ ob.id }}"><img src="/static/images/icon_info.png" alt="i" title="история операций"></a>
        </td>
    </tr>
    {% endfor %}
    <tr class="t_footer row_bottom">
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        <td class="col_add">&nbsp;
        {% if perms.core.can_new %}
            <a href="new_su/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавить"></a>&nbsp;&nbsp;
        {% endif %}
        </td>
    </tr>
</table>
</details>
