{% extends 'main.html' %}

{% block cross %}
<link rel="stylesheet" type="text/css" href="/static/colors.css">
<link rel="stylesheet" type="text/css" href="/static/cross.css">

{% include "show_build_header.html" %}

<div class="c_base_w c_header tone1">
    <div class="c_header_nav2">
        {% for nav in box_list %}
            {% if nav.id == box.id %}
                <label class="color_link2"><b>{{ nav.name }}-{{ nav.num }}</b></label>
            {% else %}
                <a href="/cross/build={{ bu.id }}/locker={{ lo.id }}/box={{ nav.id }}">{{ nav.name }}-{{ nav.num }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<br>
{% if bil_rq.0 %} 
<div class="c_base_w bil_rq">{% include "bil_rq.html" %}</div>
{% endif %}

<div class="c_base_w t_cross">
    <div class="box_list">
        <div class="cr_h_1 t_header1 _col_3">кабельная связь</div>
        <div class="cr_h_1 t_header1 _col_3">порт КРТ</div>
        <div class="cr_h_1 t_header1 _col_4">абонентская связь / история</div>
        <div class="cr_h_1 t_header1 _col_3"></div>

        <div class="cr_h_2 t_footer">коммутатор</div>
        <div class="cr_h_2 t_footer">порт</div>
        <div class="cr_h_2 t_footer">&#10010;&#10006;</div>

        <div class="cr_h_2 t_footer">№</div>
        <div class="cr_h_2 t_footer">крт/пл./(пары)</div>
        <div class="cr_h_2 t_footer">&#10010;&#10006;</div>

        <div class="cr_h_2 t_footer">договор</div>
        <div class="cr_h_2 t_footer">кв</div>
        <div class="cr_h_2 t_footer">ФИО</div>
        <div class="cr_h_2 t_footer">примечание</div>
        <div class="cr_h_2 t_footer">...</div>
        <div class="cr_h_2 t_footer">i</div>
        <div class="cr_h_2 t_footer"></div>

    {% for ob in box_p_list %}
        <div class="row_grid">
        {% if ob.c_up.0 == 'link_err' %}
            <div class="cr_p tone_error _col_3 _row_2">link error!!!</div>
        {% else %}
            <div class="cr_p _row_2 _cr_st_{{ ob.up_status }}">
                <a href="../dev={{ ob.c_up.0.0 }}/?sel={{ ob.c_up.1.0 }}" title="{{ ob.c_up.0.2 }}" target="_blank">
                    <b>{{ ob.c_up.0.1 }}</b>
                </a>
            </div>
            <div class="cr_p _row_2 _cr_st_{{ ob.up_status }} {% if ob.id == sel %}sel_marker{% endif %}">
            {% if ob.c_up.0.1 %}
                <a href="../dev={{ ob.c_up.0.0 }}/?sel={{ ob.c_up.1.0 }}" target="_blank">
                    <b>&nbsp;{{ ob.c_up.1.1 }}&nbsp;</b>
                </a>
            {% endif %}
            </div>
            <div class="cr_p _row_2">
            {% if ob.up_status != 0 %}
                <a href="del={{ ob.id }}/s_type=3/"><img src="/static/images/icon_deletelink.gif" alt="X" title="удаление кроссировки"></a>
            {% elif ob.p_valid == True %}
                <a href="s_p={{ ob.id }}/s_type=3/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавление кроссировки"></a>
            {% endif %}
            </div>
        {% endif %}
        {% if ob.c_ports1 %}
            <div class="cr_p _row_2" style="grid-row: span {{ ob.c_ports1 }}; 
                                            background-color: {{ ob.c_color }};">
                <label title="{{ ob.c_ports3 }}"><b>{{ ob.c_ports2 }}</b></label>
            </div>
            {% endif %}
            <div class="cr_p _row_2 _plint_color_{{ ob.pl_num }} _ch_valid_{{ ob.p_valid }}">
                <b>{{ box.name }}-{{ box.num }}-{{ ob.p_alias }}</b>
            </div>
            <div class="cr_p _row_2">
            {% if ob.int_c_status != 0 and ob.c_up.0 != 'link_err' %}
                <a href="s_p={{ ob.id }}/del_ab=1/"><img src="/static/images/icon_deletelink.gif" alt="X" title="удаление абонентской кроссировки"></a>
            {% elif ob.p_valid == True and ob.c_up.0 != 'link_err' %}
                <a href="s_p={{ ob.id }}/cr_ab/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавление абонентской кроссировки"></a>
            {% endif %}
            </div>

            <div class="cr_p _cr_st_{{ ob.int_c_status }}">
                {% if ob.int_c_status == 1 %} <a href="?sel={{ ob.id }}&bil_rq={{ ob.dogovor }}"><b>{{ ob.dogovor }}</b></a>
                {% else %}<b>{{ ob.dogovor }}</b>{% endif %}
            </div>
            <div class="cr_p _cr_st_{{ ob.int_c_status }}">{{ ob.ab_kv }}</div>
            <div class="cr_p _cr_st_{{ ob.int_c_status }} _txt_l_2">{{ ob.ab_fio }}</div>
            <div class="cr_p _cr_st_{{ ob.int_c_status }} _txt_l_2">&nbsp;{{ ob.ab_prim }}</div>

            <div class="cr_p _row_2">
                <a href="p_edit={{ ob.id }}/"><img src="/static/images/edit.png" alt="р" title="редактирование порта"></a>
            </div>
            <div class="cr_p _row_2">
                <a href="/core/logs/t=7/id={{ ob.id }}"><img src="/static/images/icon_info.png" alt="i" title="история операций"></a>
            </div>
            <div class="cr_p {% if ob.id == sel %}sel_marker{% endif %} _row_2">
            {% if ob.his_dogovor != '' %}
                <a href="/app/gen_pdf_2={{ ob.id }}" target="_blank"><img src="/static/images/icon_changelink.gif" alt="pdf" title="данные для снятия"></a>
            {% endif %}
            </div>
        </div>
        <div class="row_grid_h">
            <div class="cr_p ab_his {% if ob.changed %}ab_changed{% endif %}">{{ ob.his_dogovor }}</div>
            <div class="cr_p ab_his">{{ ob.his_ab_kv }}</div>
            <div class="cr_p ab_his _txt_l_2">{{ ob.his_ab_fio }}</div>
            <div class="cr_p ab_his _txt_l_2">&nbsp;{{ ob.his_ab_prim }}</div>
        </div>
    {% endfor %}

    </div>
</div>

<div class="c_base_w c_footer t_footer">
    <div class="c_footer_nav c_footer_txt">
        зона действия: {{ box.serv_area }}
    </div>
    <div class="c_footer_nav">
        <input type="button" value="история" onClick='location.href="/core/logs/t=4/id={{ box.id }}"'>
        <input type="button" value="редактирование" onClick='location.href="edit"'>
        <input type="button" value="удалить КРТ" onClick='location.href="../del_box={{ box.id }}"'>
        <input type="button" value="закрыть" onClick='location.href="/cross/build={{ bu.id }}/locker={{ lo.id }}"'>
    </div>
</div>

{% endblock %}