{% extends 'main.html' %}

{% block cross %}

{% if cr_p_list %}

    <table>
        <tr class="t_header1">
            <td width="1300px" align="left">
                <h3>
                    &nbsp&nbsp<a href="/cross/build={{ lo.parrent_id }}">{{ lo.parrent.name }}&nbsp{{ lo.parrent.house_num }}</a>,
                    &nbsp&nbsp<a href="/cross/build={{ lo.parrent_id }}/locker={{ cr.parrent_id }}">УД:&nbsp{{ lo.name }}</a>,
                    &nbsp&nbsp<label style="color:blue">{{ cr.name }}</label>
                    &nbsp&nbsp({{ cr.name_type }}),
                    &nbsp&nbsp<a href="/cable/coup={{ coup.id }}" target="_blank">Муфта:&nbsp{{ coup.name }}
                </h3>
            </td>
            <!--<td width="200px" style="background-color:#B5E8FF" align="right"><input type="button" value="в шкаф" onClick='location.href="/cross/build={{ lo.parrent_id }}/locker={{ cr.parrent_id }}"'>&nbsp</td>-->
            <td width="300px" align="right">
                {% if kv.id != 1 %}
                квартал: {{ kv.name }}&nbsp&nbsp
                <a href="/statist/bu_doc={{ lo.parrent_id }}" target="_blank"><b>карточка ввода</b>&nbsp&nbsp</a>
                {% endif %}
            </td>
        </tr>
        <tr class="t_footer">
            <td colspan="2" align="right">
                {#доступные кроссы:&nbsp&nbsp#}
            {% for nav in cr_list %}
                {% if nav.id == cr.id %}
                    <label style="color:blue"><strong>{{ nav.name }}</strong></label>&nbsp&nbsp
                {% else %}
                    <a href="/cross/build={{ lo.parrent_id }}/locker={{ cr.parrent_id }}/cr={{ nav.id }}">{{ nav.name }}</a>&nbsp&nbsp
                {% endif %}
            {% endfor %}
            </td>
        </tr>
    </table>

<div align="left" style="width:1604px;">
    <!--<div align="left" style="width:100%;height:56px;overflow-y:auto;background-color:#D4DCC7">-->
    <div align="left" style="width:100%;">
        <table class="t_header3" width="1584px" border="1">
        <caption>&nbsp</caption>
            <tr>
                <td colspan="2" align="center">порт</td>
                <td colspan="5" align="center">внешняя связь</td>
                <td colspan="4" align="center">внутренняя связь</td>
                <td rowspan="2" align="center">примечание</td>
                <td rowspan="2" align="center" width="70px">опт.изм.</td>
                <td rowspan="2" align="center" width="30px">...</td>
                <td rowspan="2" align="center" width="20px">?</td>
            </tr>
            <tr>
                <td width="36px" align="center">№</td> 
                <td width="36px" align="center"><img src="/static/images/chain1.png" alt="ch" title="цепочка по кабелю" width="11" height="11"></td>
                <td width="230px" align="center">адрес</td>
                <td width="170px" align="center">УД</td>
                <td width="160px" align="center">кросс</td>
                <td width="36px" align="center">порт</td>
                <td width="36px" align="center">+/X</td>
                <td width="90px" align="center">тип</td>
                <td width="160px" align="center">кросс/устр.</td>
                <td width="36px" align="center">порт</td>
                <td width="36px" align="center">+/X</td>
            </tr>
        </table>
    </div>
    
    {% if to_print %}
    <div align="left" style="width:100%;overflow-y:auto;">
    {% else %}
    <div align="left" style="width:100%;height:650px;overflow-y:auto;">
    {% endif %}
        <table width="1584px" border="1">
            {% for ob in cr_p_list %}
<!--             <tr class="tr_hover" {%if ob.p_valid == False %} style="background-color:gray"{% endif %}> -->
            <tr class="tr_hover" {%if ob.p_valid == False %} style="background-color:gray"{% endif %}>
                    <td width="36px" align="center" {% if ob.id == sel %} style="background-color:#FF0099" {% endif %}>
                        <label title="id-{{ ob.id }}" {% if ob.id == sel %} style="color:white" {% endif %}>&nbsp{{ ob.num }}&nbsp</label>
                    </td>
                {% if ob.cab_p_id == 0 %}
                    <td width="36px" align="center" style="background-color:silver">&nbsp</td>
                {%  else  %}
                    <td width="36px" align="center">
                        <a href="/cable/chain={{ ob.id }}/p_type=1/" target="_blank"><img src="/static/images/chain2.png" alt="ch" title="цепочка по кабелю" width="16" height="16"></a>
                    </td>
                {% endif %}
                {% if ob.c_up.0 != 'link_err' %}
                    {% if ob.c_up.5 != 'white' %}
                        <td width="230px" style="background-color:{{ ob.c_up.5 }}" align="center">{{ ob.c_up.0 }} {{ ob.c_up.1 }}</td>
                        <td width="170px" style="background-color:{{ ob.c_up.5 }}" align="center">
                            <a href="{{ ob.c_up_l }}/../" target="_blank"><b>{{ ob.c_up.2 }}</b></a>
                        </td>
                        <td width="160px" style="background-color:{{ ob.c_up.5 }}" align="center">
                            <a href="{{ ob.c_up_l }}/?sel={{ ob.c_up.6 }}" target="_blank"><b>{{ ob.c_up.3 }}</b></a>
                        </td>
                        <td width="36px" style="background-color:{{ ob.c_up.5 }}" align="center">
                            <a href="{{ ob.c_up_l }}/?sel={{ ob.c_up.6 }}" target="_blank"><b>{{ ob.c_up.4 }}</b></a>
                        </td>
                    {% else %}
                        <td colspan="2">&nbsp&nbsp&nbsp<i><--&nbsp{{ ob.c_up.2 }}</i></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    {% if ob.up_status != 0 %}
                        <!--<td><input type="button" style="border-color:red; color:red; border-radius:4px; width:46px; height:16px" value="X" onClick='location.href="s_p={{ ob.id }}/del_cr/"'></td>-->
                        <td width="36px" align="center"><a href="s_p={{ ob.id }}/del_cr/"><img src="/static/images/icon_deletelink.gif" alt="X" title="удаление кабельной связи" width="12" height="12"></a></td>
                    {% elif ob.p_valid == True %}
                        <!--<td><input type="button" style="border-color:green; color:green; border-radius:4px; width:46px; height:16px" value="+" onClick='location.href="s_p={{ ob.id }}/ext_cr1/"'></td>-->
                        <td width="36px" align="center"><a href="s_p={{ ob.id }}/ext_cr1/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавление кабельной связи" width="12" height="12"></a></td>
                    {% else %}
                        <td width="30px"></td>
                    {% endif %}
                {% else %}
                    <td colspan="2" style="background-color:{{ ob.c_up.1 }}" align="center">&nbsp</td>
                    <td colspan="2" style="background-color:red; color:white" align="center"><b>link error!!!</b></td>
                    <td align="center">?</td>
                {% endif %}
                
                {% if ob.c_down.1 != 'link_err' %}
                    <td width="90px" style="background-color:{{ ob.c_down.3 }}" align="center">{{ ob.c_down.0 }}</td>
                    <td width="160px" style="background-color:{{ ob.c_down.3 }}" align="center">
                        <a href="{{ ob.c_down.4 }}/?sel={{ ob.c_down.5 }}" target="_blank"><b>{{ ob.c_down.1 }}</b></a>
                    </td>
                    <td width="36px" style="background-color:{{ ob.c_down.3 }}" align="center">
                        <a href="{{ ob.c_down.4 }}/?sel={{ ob.c_down.5 }}" target="_blank"><b>{{ ob.c_down.2 }}</b></a>
                    </td>
                    {% if ob.int_c_status != 0 %}
                        <td width="36px" align="center"><a href="del={{ ob.id }}/s_type=1/"><img src="/static/images/icon_deletelink.gif" alt="X" title="удаление кроссировки" width="12" height="12"></a></td>
                    {% elif ob.p_valid == True %}
                        <td width="36px" align="center"><a href="s_p={{ ob.id }}/s_type=1/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавление кроссировки" width="12" height="12"></a></td>
                    {% else %}
                        <td width="36px"></td>
                    {% endif %}
                {% else %}
                    <td style="background-color:{{ ob.c_down.2 }}" align="center">{{ ob.c_down.0 }}</td>
                    <td colspan="2" style="background-color:red; color:white" align="center"><b>link error!!!</b></td>
                    <td align="center">?</td>
                {% endif %}
                
                <td>&nbsp{{ ob.prim }}&nbsp</td>
                <td width="70px">
                    {% if ob.opt_len != 0 %}&nbsp{{ ob.opt_len }}&nbsp{% endif %}
                </td>
                <td width="30px" align="center">
                    <a href="p_edit={{ ob.id }}/"><img src="/static/images/edit.png" alt="ред." title="редактирование" width="16" height="16"></a>
                </td>
                <td width="20px" style="background-color:#bbbbbb" align="center"><a href="/core/logs/t=5/id={{ ob.id }}"><img src="/static/images/icon-unknown.gif" alt="?" title="история операций" width="10" height="10"></a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Not ports!!??</p>
    {% endif %}
    </div>
</div>

    <br>
    <table class="t_footer">
        <tr>
            <td width="1300px">&nbsp&nbsp</td>
            <td width="300px" align="right">
            {% if to_print %}
                <input type="button" value="компактный вид" onClick='location.href="/cross/build={{ lo.parrent_id }}/locker={{ cr.parrent_id }}/cr={{ cr.id }}"'>&nbsp
            {% else %}
                <input type="button" value="версия для печати" onClick='location.href="?to_print=1"'>&nbsp
            {% endif %}
                <input type="button" value="назад" onClick='location.href="/cross/build={{ lo.parrent_id }}/locker={{ cr.parrent_id }}"'>&nbsp
            
            </td>
        </tr>
    </table>


{% endblock %}
