{% if lo_obj.1 %}

<details open="open">
    <summary>&nbsp;&nbsp;активное оборудование</summary>
<table class="device_list">
    <!-- <caption><h5>активное оборудование:</h5></caption> -->
    <tr class="t_header1 row_title">
        <th class="col_pic"></th>
        <th class="col_name2">название</th>
        <th class="col_oper3"></th>
        <th class="col_type">модель</th>
        <th class="col_small2">ip - адрес</th>
        <th>примечание</th>
        <th class="col_oper2"></th>
    </tr>
    {% for ob in lo_obj.1 %}
    <tr class="tr_hover">
        <td class="col_pic">
            <img src="/static/images/obj_dev/dev_{{ ob.obj_type__parrent_id }}.png" alt=" " title="{{ ob.obj_type__parrent__name }}">
        </td>
        <td><b><a href="dev={{ ob.id }}/" title="просмотр кроссировок">{{ ob.name }}</a></b></td>
        <td class="col_oper3">
            <a href="dev={{ ob.id }}/l2=1"><img src="/static/images/chain3_1.png" alt="" title="конфигурация"></a>&nbsp;
            <a href="dev={{ ob.id }}/ips"><img src="/static/images/stat.png" alt="" title="коммутация"></a>&nbsp;
            <a href="/statist/agr_to_abon={{ ob.id }}" target="_blank"><img src="/static/images/icon_team2.png" alt="i" title="абоненты"></a>
        </td>
        <td>{{ ob.obj_type__name }}</td>
        <td>{{ ob.ip_addr }}</td>
        <td>{{ ob.prim }}</td>
        <td class="col_oper2">
            <a href="dev={{ ob.id }}/edit"><img src="/static/images/edit.png" alt="р" title="редактирование"></a>&nbsp;
            <a href="/core/logs/t=3/id={{ ob.id }}"><img src="/static/images/icon_info.png" alt="?" title="история операций"></a>&nbsp;
            <!-- <a href="del_dev={{ ob.id }}/"><img src="/static/images/icon_deletelink.gif" alt="X" title="удалить"></a>&nbsp;&nbsp; -->
        </td>
    </tr>
    {% endfor %}
    <tr class="t_footer row_bottom">
        <td></td><td></td><td></td><td></td><td></td><td></td>
        <td class="col_add">&nbsp;
        {% if perms.core.can_new %}
            <a href="new_dev/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавить оборудование"></a>&nbsp;&nbsp;
        {% endif %}
        </td>
    </tr>
</table>
</details>

{% else %}
<div class="card_txt_l"><h5>оборудование отсутствует &nbsp;&nbsp;
    <a href="new_dev/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавить"></a></h5>
</div>
{% endif %}

