{% extends 'main.html' %}

{% block find %}

<section class="link_list">
    <div class="link_item_left"></div>
    <div class="link_item">
        <a href="/find/map/">
            <img src="/static/images/_map1.png" alt="" title="Схема сети">
        </a>
    </div>
    <div class="link_item">
        <a href="/app/status=0/">
            <img src="/static/images/_app2.png" alt="" title="Заявки">
        </a>
    </div>
    <div class="link_item">
        <a href="/cable/">
            <img src="/static/images/_vols4.png" alt="" title="ВОЛС">
        </a>
    </div>
    <div class="link_item">
        <a href="">
            <img src="/static/images/_rent2.png" alt="" title="Аренда оборудования">
        </a>
    </div>
    <div class="link_item">
        <a href="/core/service/">
            <img src="/static/images/_stat4.png" alt="" title="Сервис | отчёты">
        </a>
    </div>
    <div class="link_item">
        <a href="/manual/" target="_blank">
            <img src="/static/images/_help2.png" alt="" title="Помощь">
        </a>
    </div>
    <div class="link_item_right"></div>
</section>

<section class="form_list">
    <form class="form_block t_header1" method="post" action="/find/find_bu">
        {% csrf_token %}
        <img src="/static/images/SKS2.png" alt="" title="здания">
        <div class="form_item">{{ form1.street }}{{ form1.house_num }}</div>
        <input class="form_button" type="submit" value="&#9660;&#9660;&#9660;">
    </form>
    <form class="form_block t_header1" method="post" action="/find/find_agr">
        {% csrf_token %}
        <img src="/static/images/stat3.png" alt="" title="агрегации">
        <div class="form_item">{{ form4.co }}</div>
        <input class="form_button" type="submit" value="&#9660;&#9660;&#9660;">
    </form>
    <form class="form_block t_header1" method="post" action="/app/status%3D0/app_find/">
        {% csrf_token %}
        <img src="/static/images/_app1.png" alt="" title="договор / ордер">
        <div class="form_item">{{ form2.dog }}</div>
        <input class="form_button" type="submit" value="&#9660;&#9660;&#9660;">
    </form>
    <form class="form_block t_header1" id="dev" method="post" action="/find/find_dev=0/">
        {% csrf_token %}
        <img src="/static/images/_logs2.png" alt="" title="">
        <div class="form_item2" {% if ok_dev == False %} style="background-color:#ff7575" {% endif %}>
            <div class="item_elem"><label id="lab_1">&nbsp{{ form3.dev_ip.label }}&nbsp&#9654;&nbsp</label>{{ form3.dev_ip }}</div>
            <div class="item_elem"><label id="lab_2">&nbsp{{ form3.dev_mac.label }}&nbsp&#9654;&nbsp</label>{{ form3.dev_mac }}</div>
            <div class="item_elem"><label id="lab_3">&nbsp{{ form3.dev_sn.label }}&nbsp&#9654;&nbsp</label>{{ form3.dev_sn }}</div>
            <div class="item_elem"><label id="lab_4">&nbsp{{ form3.dev_vlan.label }}&nbsp&#9654;&nbsp</label>{{ form3.dev_vlan }}</div>
        </div>
        <input class="form_button" type="submit" value="&#9660;&#9660;&#9660;">
    </form>
</section> 

{% block result %}{% endblock %}

<script type="text/javascript">

id_dev_ip.addEventListener('focus', function(){
    document.getElementById("dev").action = "/find/find_dev=1/";
    document.getElementById("lab_1").style = "color: blue; font-weight: bold;"
    document.getElementById("lab_2").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_3").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_4").style = "color: #333; font-weight: normal;"
}, false);

id_dev_mac.addEventListener('focus', function(){
    document.getElementById("dev").action = "/find/find_dev=2/";
    document.getElementById("lab_1").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_2").style = "color: blue; font-weight: bold;"
    document.getElementById("lab_3").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_4").style = "color: #333; font-weight: normal;"
}, false);

id_dev_sn.addEventListener('focus', function(){
    document.getElementById("dev").action = "/find/find_dev=3/";
    document.getElementById("lab_1").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_2").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_3").style = "color: blue; font-weight: bold;"
    document.getElementById("lab_4").style = "color: #333; font-weight: normal;"
}, false);

id_dev_vlan.addEventListener('focus', function(){
    document.getElementById("dev").action = "/find/find_dev=4/";
    document.getElementById("lab_1").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_2").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_3").style = "color: #333; font-weight: normal;"
    document.getElementById("lab_4").style = "color: blue; font-weight: bold;"
}, false);

</script>


{% endblock %}

