    <br>
    {% if lo_list %}
        <label>&emsp;<i>узлы доступа:</i></label>
        <br>
        {% for ob in lo_list %}
            &emsp;&emsp;
            <a href="/cross/build={{ ob.parrent.id }}/locker={{ ob.id }}/" target="_blank"><b>{{ ob.name }}</b></a>
            {% if ob.status == 0 %}&nbsp;&nbsp;<label class="_lo_st_txt_0">в проекте</label>
            {% elif ob.status == 1 %}&nbsp;&nbsp;<label class="_lo_st_txt_1">монтаж</label>
            {% elif ob.status == 3 %}&nbsp;&nbsp;<label class="_lo_st_txt_3">отключен</label>
            {% endif %}
            <br>
        {% endfor %}
        <br>
    {% endif %}
    {% if co_list %}
        <label>&emsp;<i>муфты:</i></label>
        <br>
        {% for ob in co_list %}
            &emsp;&emsp;
            <a href="/cable/coup={{ ob.id }}/" target="_blank"><b>{{ ob.name }}</b></a>
            <br>
        {% endfor %}
        <br>
    {% endif %}
    {% if pw_list %}
        <label>&emsp;<i>опоры, колодцы:</i></label>
        <br>
        {% for ob in pw_list %}
            &emsp;&emsp;
            <a href="/cable/?kv={{ ob.parrent.id }}" target="_blank"><b>{{ ob.name }}</b></a>
            <br>
        {% endfor %}
    {% endif %}
