{% extends 'main.html' %}

{% block find %}
<link rel="stylesheet" type="text/css" href="/static/colors.css">
<link rel="stylesheet" type="text/css" href="/static/find.css">

<script src="/static/js/openseadragon.min.js"></script>

<div class="map">
    <div class="map_left">
        <div class="map_list t_header1">
            <p><i>карты:</i></p>
            {% for ob in map_list %}
            {% if m_num == forloop.counter %}
            <label class="color_link2"><i>{{ forloop.counter }}:</i>&nbsp;&nbsp;<b>{{ ob.2 }}</b></label>
            {% else %}
            <a href="/find/map{{ forloop.counter }}"><i>{{ forloop.counter }}:</i>&nbsp;&nbsp;{{ ob.2 }}</a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="map_form">
            <table class="tone2">
                <tr>
                    <td align="right">ул.:</td>
                    <td colspan="2">{{ form1.street }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">№:</td>
                    <td>{{ form1.h_num }}</td>
                    <td align="right"><input type="button" id="go_bu" value=">>>" onClick='location.href=""'></td>
                    <td align="center"><img src="/static/images/sks1.png" alt="" title="здания"></td>
                </tr>
                <tr>
                    <td align="right">УА:</td>
                    <td>{{ form1.agr_list }}</td>
                    <td align="right"><input type="button" id="go_agr" value=">>>" onClick='location.href=""'></td>
                    <td align="center"><img src="/static/images/stat3.png" alt="" title="агрегации"></td>
                </tr>
                <tr>
                    <td align="right">кв.:</td>
                    <td>{{ form2.kvar }}</td>
                    <td align="right"><input type="button" id="go_kvar" value=">>>" onClick='location.href=""'></td>
                    <td align="center"><img src="/static/images/_cross3.png" alt="" title="квартал"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><input type="text" id="coord"></td>
                    <td align="center"><img src="/static/images/coord.png" alt="" title="текущие координаты"></td>
                </tr>
            </table>
        </div>
        <div class="map_obj t_footer" id="obj_in_map"></div>
        <div>
            <input type="hidden" id="cx" {% if c_x %} value="{{ c_x }}" {% endif %}>
            <input type="hidden" id="cy" {% if c_y %} value="{{ c_y }}" {% endif %}>
            <input type="hidden" id="m_num" value="{{ m_num }}">
            <!-- <label id="info1">debug info</label> -->
        </div>
        <div class="map_copyright tone1">
            <!--<span>условные обозначения</span>-->
            <a href="https://openseadragon.github.io/" target="_blank">OpenSeadragon</a>
        </div>
    </div>

    {% if map_perm %}
    <div id="maps"></div>
    {% else %}
    <div><br><label class="color_warn1"><b>недостаточно прав</b></label></div>
    {% endif %}

</div>

<script src="/static/js/map.js"></script>


{% endblock %}
