{% extends 'main.html' %}

{% block core %}

<div class="c_base_w tone1" align="center">
    <br>
    <h3 style="color:red">{{ mess }}</h3>
    
    <form action="/core/login/" method="post">
    {% csrf_token %}
    
        <p>зайти другим пользователем</p>
        <table>
            <tr>
                <td align="center">login</td>
                <td align="center">password</td>
            </tr>
            <tr>
                <td align="right">&nbsp;<input type="text" name="username" id="username"></td>
                <td align="left"><input type="password" name="password" id="password">&nbsp;</td>
                <input type="hidden" name="next_url" id="next_url" value="{{ next_url }}">
            </tr>
            <tr>
                <td align="right"><input type="submit" value="     OK     " /></td>
            {% if back == 0 %}
                <td align="left"><input type="button" value="отмена" onClick='location.href=""'></td>
            {% elif back == 1 %}
                <td align="left"><input type="button" value="отмена" onClick='location.href="../"'></td>
            {% elif back == 2 %}
                <td align="left"><input type="button" value="отмена" onClick='location.href="../../"'></td>
            {% elif back == 3 %}
                <td align="left"><input type="button" value="отмена" onClick='location.href="../../../"'></td>
            {% elif back == 4 %}
                <td align="left"><input type="button" value="отмена" onClick='location.href="../../../../"'></td>
            {% else %}
                <td align="left"><input type="button" value="отмена" onClick='location.href="/"'></td>    
            {% endif %}
            </tr>
        {% if login_error %}
            <tr>
                <td colspan="2" align="center" class="tone_error"><b>{{ login_error }}</b></td>
            </tr>
        {% endif %}
        </table>        
    </form>
</div>

{% endblock %}