{% extends 'main.html' %}

{% block core %}

    <br><h3 style="color:red">{{ mess }}</h3>
    
    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="1000px">&nbsp</td>
            <td width="280px" align="right">
            {% if back == 0 %}
                <input type="button" value="назад" onClick='location.href="{{ next_url }}"'>&nbsp
            {% elif back == 1 %}
                <input type="button" value="назад" onClick='location.href="../"'>&nbsp
            {% elif back == 2 %}
                <input type="button" value="назад" onClick='location.href="../../"'>&nbsp
            {% elif back == 3 %}
                <input type="button" value="назад" onClick='location.href="../../../"'>&nbsp
            {% endif %}
            </td>
        </tr>
    </table>

{% endblock %}
