{% extends 'main.html' %}

{% block core %}

<div class="c_base_w tone1" align="center">
    <br>
    <h3 class="tone_error">{{ mess }}</h3>
    
</div>
<br>

<div class="c_base_w t_footer3">
    <div class="_flex_c">
    {% if back == 0 %}
        <input type="button" value="назад" onClick='location.href="{{ next_url }}"'>
    {% elif back == 1 %}
        <input type="button" value="назад" onClick='location.href="../"'>
    {% elif back == 2 %}
        <input type="button" value="назад" onClick='location.href="../../"'>
    {% elif back == 3 %}
        <input type="button" value="назад" onClick='location.href="../../../"'>
    {% elif back == 4 %}
        <input type="button" value="назад" onClick='location.href="../../../../"'>
    {% else %}
        <input type="button" value="назад" onClick='location.href="/"'>
    {% endif %}
    </div>
</div>

{% endblock %}