<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        {#{% if app %}  <title>Дог.: {{ app.dogovor }}</title>#}
        {% if title %}  <title>{{ title }}</title>
        {% elif bu %}   <title>{{ bu.name }} {{ bu.house_num }}</title>
        {% elif lo %}   <title>{{ lo.parrent.name }} {{ lo.parrent.house_num }}</title>
        {% elif port %} <title>{{ port.parrent.parrent.parrent.name }} {{ port.parrent.parrent.parrent.house_num }}</title>
        {% elif coup %} <title>м: {{ coup.name }}</title>
        {% elif map %}  <title>Схема сети</title>
        {% elif his %}  <title>История операций</title>
        {% else %}      <title>Easy CROSSing</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    </head>

<body>

    <section class="header t_header2">
        <div class="header_line">
            <div class="header_logo">
                <a href="/">Easy&nbspCROSSing</a>
            </div>
            <div class="header_menu link_in_out">
                {% if bu %}  <a href="/find/str={{ bu.parrent_id }}">Поиск</a>
                {% elif lo %}<a href="/find/str={{ lo.parrent.parrent_id }}">Поиск</a>
                {% else %}   <a href="/find/">Поиск</a>
                {% endif %}
                <a href="/find/map">Схема&nbspсети</a>
                <a href="/app/status=0">Заявки</a>
                <a href="/cable">Муфты</a>
                    <!--|&nbsp<a href="">Аренда</a>-->
                    <!--|&nbsp<a href="">Сообщения</a>-->
                    <!--|&nbsp<a href="/plan">Строительство</a>-->
                <a href="/core/service">Сервис</a>
                {% if perms.core.can_adm %}<a href="/admin" target="_blank">Админка</a>{% endif %}
                <a href="/manual" target="_blank">Помощь</a>
            </div>
            <div class="header_user">
                {% if user.is_authenticated %}
                <p>{{ user.get_full_name }}</p>
                <a href="/core/logout/"><img src="/static/images/logout.png" alt="" title="Выйти"></a>
                {% else %}                    
                <a href="/core/login/"><img src="/static/images/login.png" alt="" title="Войти"></a>
                {% endif %}
            </div>
        </div>
    </section>

    <div class="content" align="center">
    {% block index %}{% endblock %}
    {% block core %}{% endblock %}
    {% block cross %}{% endblock %}
    {% block find %}{% endblock %}
    {% block app %}{% endblock %}
    {% block cable %}{% endblock %}
    {% block statist %}{% endblock %}
    {% block service %}{% endblock %}
    {% block plan %}{% endblock %}
    {% block manual %}{% endblock %}
    {% block equip %}{% endblock %}
    {% block hard %}{% endblock %}
    {% block mess %}{% endblock %}
    </div>

    <div class="fixed-bottom t_footer2">
        &nbsp<!--<a href="/statist/talkback/" target="_blank">сообщить разработчику&nbsp</a>-->
    </div>

</body>
</html>

