{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>менеджер схем ВОЛС</h3>
    {% if cut %}
        <label style="color:red;"><b>Выполняется фоновая задача, некоторые операции недоступны</b></label>    
    {% endif %}
    </div>
</div>
<br>

<table class="c_base_w tone1" width="1284px"><tr valign="top">
    <td width="250px" align="left">
        <table class="tone2" width="100%">
        {% for ob in map_list %}
            <tr><td>
            {% if m_num == forloop.counter %}
                &nbsp<label style="color:blue"><i>{{ forloop.counter }}:</i>&nbsp<strong>{{ ob.2 }}</strong></label>
            {% else %}
                &nbsp<a href="/core/m_manager{{ forloop.counter }}" style="color:black"><i>{{ forloop.counter }}:</i>&nbsp{{ ob.2 }}</a>
            {% endif %}
            </td></tr>
        {% endfor %}
        </table>
    </td>
    <td align="center">
        <table class="tone1" width="684px">
            {% for ob in f_list %}
            <tr>
                <td align="center" valign="top">
                    <table class="tone1" width="500px">
                        <tr align="center">
                            <td rowspan="2" width="60%">
                        {% if ob.0 %}
                                <img src="/media/map_1/{{ m_num }}/prev/{{ ob.0 }}" width="280" border="0">
                            </td>
                            <td>
                                <table width="200px" border="1"><tr align="center"><td>
                                <h3>{{ ob.0 }}</h3>
                                {% if not cut %}
                                    <input type="button" value="обработка" onClick='location.href="cut/?f_name={{ ob.0 }}"' {% if ob.2 %}disabled="1"{% endif %}>
                                    <input type="button" value="удаление" onClick='location.href="del=1/?d_file={{ ob.0 }}"'>
                                {% endif %}
                        {% else %}
                                <img src="/static/images/blank.png" alt="исходный файл отсутствует" width="240" border="0">
                            </td>
                            <td>
                                <table width="200px" border="1"><tr align="center"><td>
                                <h3>исходный файл отсутствует</h3>
                        {% endif %}
                                <br>&nbsp</td></tr></table>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <table width="200px" border="1"><tr align="center"><td>
                            {% if ob.1 %}
                                <h3>{{ ob.1 }}</h3>
                                {% if not ob.2 %}
                                    {% if not cut %}
                                        <input type="button" value="подключение" onClick='location.href="map_on/?f_name={{ ob.1 }}"'>
                                        <input type="button" value="удаление" onClick='location.href="del=2/?d_file={{ ob.1 }}"'>
                                    {% endif %}
                                {% else %}
                                    <h3 style="color:blue;"><strong>подключен</strong></h3>
                                {% endif %}
                            {% else %}
                                <h3>не сформирован</h3>
                            {% endif %}
                                <br>&nbsp</td></tr></table>
                            </td>
                        </tr>
                    </table>
                    <br>
                </td>    
            </tr>
            {% endfor %}  
        </table>
    </td>
    <td width="250px" align="right"></td>
</tr></table>
    
<br>
<table class="c_base_w tone2">
    <tr class="serv_footer">
        <td width="100%">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                {{ form.file }}
                <input type="submit" value="добавить" style="width:100px">&nbsp;
            {% if f_exist %}
                <label style="color:red;"><b>файл с таким именем существует на сервере</b></label>
            {% elif not f_png %}
                <label style="color:red;"><b>файл не .png</b></label>
            {% else %}
                <label>обработка изображения займет насколько секунд</label>
            {% endif %}
            </form>
        </td>
        <td width="280px" align="right">
            <input type="button" value="закрыть" onClick='location.href="/statist/"'>&nbsp
        </td>
    </tr>
</table>
<br><br>

<div class="c_base_w tone2">
    debug:
    <br>is_cut: {{ cut }}
    <br>last lock: {{ debug.1 }} -> {{ debug.0|date:'d.m.Y..H:i' }}
</div>


{% endblock %}
