{% extends 'main.html' %}

{% block service %}

    <table class="t_header1">
        <tr>
            <td width="620px">
                {% if new_kvar %}<h3>&nbsp&nbspдобавление квартала</h3>{% endif %}
                {% if new_str %}<h3>&nbsp&nbspдобавление улицы</h3>{% endif %}
                {% if new_bu %}<h3>&nbsp&nbspдобавление здания</h3>{% endif %}
            </td>
            <td width="400px" align="right">&nbsp</td>
        </tr>
    </table>
        
    <br>
    <table class="tbl-main"><tr><td>
        <table class="tbl-main-item">
            <tr><td colspan="3">&nbsp</td></tr>
            <tr>
            {% if new_kvar %}
                <form method="post" action="/core/new_kvar/">
                {% csrf_token %}
                    <td width="200px" align="center">
                       &nbsp&nbsp&nbspвведите название квартала:&nbsp
                    </td>
                    <td width="260px" align="center">
                        &nbsp{{ form.n_kvar }}&nbsp
                    </td>
                    <td width="110px" align="center">
                        <input type="submit" value="    добавить    ">
                    </td>
                </form>
            
            {% elif new_str %}
                <form method="post" action="/core/new_str/">
                {% csrf_token %}
                    <td width="200px" align="center">
                        &nbsp&nbsp&nbspвведите название улицы:&nbsp
                    </td>
                    <td width="260px" align="center">
                        &nbsp{{ form.n_str }}&nbsp
                    </td>
                    <td width="110px" align="center">
                        <input type="submit" value="    добавить    ">
                    </td>
                </form>
            
            {% elif new_bu %}
                <form method="post" action="/core/new_bu/">
                {% csrf_token %}
                    <td width="60px" align="left">
                        &nbsp&nbsp&nbsp{{ form.street.label }}:&nbsp
                    </td>
                    <td width="260px" align="right">
                        &nbsp{{ form.street }}&nbsp
                        &nbsp{{ form.house_num.label }}&nbsp{{ form.house_num }}&nbsp&nbsp
                    </td>
                    <td width="110px" align="center">
                        <input type="submit" value="    добавить    ">
                    </td>
                </form>
            {% endif %}
            </tr>
            <tr>
                <td colspan="3" align="center">&nbsp
                {% if mess  %}{{ mess }}{% endif %}
                </td>
            </tr>
        </table>
    </td></tr></table>
    
    <br>
        
    <table class="t_footer">
        <tr>
            <td width="620px" align="left">&nbsp</td>
            <td width="400px" align="right">
                <input type="button" value="отмена" onClick='location.href="/core/service/"'>&nbsp
            </td>
        </tr>
    </table>
        

{% endblock %}

