{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>история пользователей</h3>
    </div>
</div>
<br>
    
<table class="c_base_w tone1">
    <tr valign="top">
        <td align="center">
            <table width="230px" border="1">
                <tr align="center" class="t_header2">
                    <td>история операций</td>
                </tr>
                <tr align="center">
                    <td><a href="/core/logs/u=0/td=1/"><b>все пользователи</b></a></td>
                </tr>
            {% for ob in user_list %}
                <tr align="center">
                    <td>
                        <a href="/core/logs/u={{ ob.0.id }}/td=1/" {% if perms.core.can_adm %}title="{{ ob.0.date_l_v|date:"d.m.Y..H:i" }}"{% endif %}>
                        {% if ob.1 %}<b>{% endif %}{{ ob.0.fullname }}</b></a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </td>

        {% if perms.core.can_adm %}
        <td align="center">
            <table width="900px" border="1">
                <tr align="center" class="t_header2">
                    <td>
                        last click <a href="/core/service/clean_his/">[X]</a>
                    </td>
                </tr>
                <tr align="center">
                    <td>&nbsp;</td>
                </tr>
            {% for ob in user_list %}
                <tr align="left">
                    <td>
                        &nbsp;{{ ob.0.prim }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </td>
        {% endif %}

    </tr>
</table>
<br>

<div class="c_base_w tone2">
    <div class="serv_r">
        <input type="button" value="закрыть" onClick='location.href="/statist/"'>
    </div>
</div>

{% endblock %}
