{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>добавление / удаление объектов</h3>
    </div>
</div>
<br>

<div class="c_base_w" style="width:480px">
    <div class="serv_cat tone2">
        <div><img src="/static/images/icon_addlink.gif" alt="+"></div>
        <div class="serv_obj">
            <form class="serv_obj_oper" method="post" action="/core/o_manager/">
                <div>{% csrf_token %}</div>
                <div>{{ forms_add.0.kv.label }}: {{ forms_add.0.kv }}</div>
                <div><input type="submit" name="form1" value="добавить"></div>
            </form>
            <form class="serv_obj_oper" method="post" action="/core/o_manager/">
                <div>{% csrf_token %}</div>
                <div>{{ forms_add.1.st.label }}: {{ forms_add.1.st }}</div>
                <div><input type="submit" name="form2" value="добавить"></div>
            </form>
            <form class="serv_obj_oper" method="post" action="/core/o_manager/">
                <div>{% csrf_token %}</div>
                <div align="right">
                    {{ forms_add.2.street.label }}: {{ forms_add.2.street }}&emsp;
                    {{ forms_add.2.h_num.label }}: {{ forms_add.2.h_num }}<br>
                    {{ forms_add.2.double.label }} {{ forms_add.2.double }}&emsp;
                    {{ forms_add.2.double_id.label }} {{ forms_add.2.double_id }}
                </div>
                <div><input type="submit" name="form3" value="добавить"></div>
            </form>
        </div>
    </div>
        <br>
        <div class="serv_cat tone2">
        <div><img src="/static/img/icon_deletelink.gif" alt="-"></div>
        <div class="serv_obj">
            <form class="serv_obj_oper" method="post" action="/core/o_manager/">
                <div>{% csrf_token %}</div>
                <div>{{ forms_del.0.kv.label }}: {{ forms_del.0.kv }}</div>
                <div><input type="submit" name="form4" value="удалить"></div>
            </form>
            <form class="serv_obj_oper" method="post" action="/core/o_manager/">
                <div>{% csrf_token %}</div>
                <div>{{ forms_del.1.st.label }}: {{ forms_del.1.st }}</div>
                <div><input type="submit" name="form5" value="удалить"></div>
            </form>
            <form class="serv_obj_oper" method="post" action="/core/o_manager/">
                <div>{% csrf_token %}</div>
                <div>{{ forms_del.2.bu.label }}: {{ forms_del.2.bu }}</div>
                <div><input type="submit" name="form6" value="удалить"></div>
            </form>
        </div>
    </div>
</div>

<br>
<div class="c_base_w tone2" style="width:480px" align="center">
    {% if mess  %}<br><h4>{{ mess }}</h4><br>{% endif %}
</div>
<br>

<div class="c_base_w" style="width:480px">
    <details>
        <summary>здания - дубликаты</summary>
        <table border="1">
            <tr class="t_header1">
                <td width="370px" align="center">адрес</td>
                <td width="100px" align="center">связанный id</td>
            </tr>
            {% for ob in bu_list %}
            <tr>
                <td align="center"><a href="/cross/build={{ ob.id }}/" target="_blank">{{ ob.name }} {{ ob.house_num }}</a></td>
                <td align="center">{{ ob.double_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </details>
</div>
<br>

<div class="c_base_w tone2">
    <div class="serv_r">
        <input type="button" value="закрыть" onClick='location.href="/core/service/"'>
    </div>
</div>

{% endblock %}