{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>УК/ТСЖ/ЖСК:&nbsp;&nbsp;{% if upr %}{{ upr.name }}{% else %}(новая запись){% endif %}</h3>
    </div>
</div>
<br>

<form method="post">
    {% csrf_token %}

    <table class="c_base_w">
        <tr>
            <td align="right">
                &nbsp;название:&nbsp;
            </td>
            <td align="left">
                &nbsp;{{ form.name }}&nbsp;
            </td>
        </tr>
        <tr>
            <td align="right">
                &nbsp;контактная информация:&nbsp;
            </td>
            <td align="left">
                &nbsp;{{ form.info }}&nbsp;
            </td>
        </tr>
    </table>
    <br>

    <div class="c_base_w tone2">
        <div class="serv_c">
            <input type="submit" value="     OK     ">
            <input type="button" value="отмена" onClick='location.href="/core/sprav/"'>
        </div>
    </div>

</form>
    
{% endblock %}