{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>Работа со справочниками</h3>
    </div>
</div>
<br>

<table class="c_base_w" width="100%" border="1">
    <tr class="t_header2" align="center">
        <td width="30%">УК/ТСЖ/ЖСК</td>
        <td width="20px" align="center">...</td>
        <td width="20px" align="center">...</td>
        <td>контактная информация</td>
    </tr>
{% for ob in comp_list %}
    <tr>
        <td>&nbsp{{ ob.name }}&nbsp</td>
        <td width="20px" align="center"><a href="/core/sprav_upr={{ ob.id }}/"><img src="/static/images/edit.png" alt="ред." title="редактирование" width="12" height="12"></a></td>
        <td width="20px" align="center"><a href="/core/sprav_upr_del={{ ob.id }}/"><img src="/static/images/icon_deletelink.gif" alt="X" title="удалить" width="12" height="12"></a></td>
        <td>&nbsp{{ ob.info }}&nbsp</td>
    </tr>
{% endfor %}
    <tr align="center">
        <td></td>
        <td colspan="2"><a href="/core/sprav_upr=0/"><img src="/static/images/icon_addlink.gif" alt="+" title="добавить" width="11" height="11"></a></td>
        <td></td>
    </tr>
</table>
<br>
    
<div class="c_base_w tone2">
    <div class="serv_r">
        <input type="button" value="закрыть" onClick='location.href="/core/service/"'>
    </div>
</div>

{% endblock %}