{% extends 'main.html' %}

{% block service %}

    <table class="t_header1">
        <tr>
            <td width="880px" align="left"><h3>&nbsp Кросс:&nbsp&nbsp{% if cr %}{{ cr.name }}{% else %}(новый шаблон){% endif %}</h3></td>
            <td width="400px" align="right"></td>
        </tr>
    </table>
    <br>

<form method="post">
    {% csrf_token %}
    <table class="t_header1">
        <tr>
            <td align="right">&nbsp{{ form.name.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.name }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.ports.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.ports }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.v_col.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.v_col }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.v_row.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.v_row }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.units.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.units }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.v_forw_l_r.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.v_forw_l_r }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.ext_p.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.ext_p }}&nbsp</td>
        </tr>
    </table>
    <br>
    <table class="t_footer">
        <tr>
            <td width="640px" align="right"><input type="submit" id="id_ok" value="     OK     ">&nbsp</td>
            <td width="640px" align="left"><input type="button" value="отмена" onClick='location.href="/core/templ/"'></td>
        </tr>
    </table>
</form>

<input type="hidden" id="id_cr_p" value="{{ cr.ports }}">

<script language="javascript">

window.onload = function init() {
    valid();
}

id_ports.addEventListener('change', function(){
    document.getElementById("id_v_col").value = this.value;
    document.getElementById("id_v_row").value = 1;
    valid();
}, false);

id_v_col.addEventListener('change', function(){
    var divi = document.getElementById("id_ports").value / this.value;
    if (divi >= 1 && (divi ^ 0) === divi) {
        document.getElementById("id_v_row").value = divi;
    } else {
        document.getElementById("id_v_row").value = '';
    }
    valid();
}, false);

id_v_row.addEventListener('change', function(){
    valid();
}, false);

function valid() {
    var cr_id = document.getElementById("id_cr_p").value;
    if (cr_id != '' && cr_id != document.getElementById("id_ports").value) {
        document.getElementById("id_ok").disabled = 1;
        return;
    }
    if (document.getElementById("id_v_row").value == document.getElementById("id_ports").value / document.getElementById("id_v_col").value) {
        document.getElementById("id_ok").disabled = 0;
    } else {
        document.getElementById("id_ok").disabled = 1;
    }
}

</script>


{% endblock %}
