{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>Кросс:&nbsp;&nbsp;{% if cr %}{{ cr.name }}{% else %}(новый шаблон){% endif %}</h3>
    </div>
</div>
<br>

<div class="c_base_w" align="center">
    <form method="post">
        {% csrf_token %}
        <table class="t_header1">
            <tr>
                <td align="right">{{ form.name.label }}:</td>
                <td align="left">{{ form.name }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.ports.label }}:</td>
                <td align="left">{{ form.ports }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.v_col.label }}:</td>
                <td align="left">{{ form.v_col }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.v_row.label }}:</td>
                <td align="left">{{ form.v_row }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.units.label }}:</td>
                <td align="left">{{ form.units }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.v_forw_l_r.label }}:</td>
                <td align="left">{{ form.v_forw_l_r }}</td>
            </tr>
            <tr>
                <td align="right">{{ form.ext_p.label }}:</td>
                <td align="left">{{ form.ext_p }}</td>
            </tr>
        </table>
        <br>

        <div class="tone2">
            <div class="serv_c">
                <input type="submit" id="id_ok" value="     OK     ">
                <input type="button" value="отмена" onClick='location.href="/core/templ/"'>
            </div>
        </div>

    </form>
</div>

<input type="hidden" id="id_cr_p" value="{{ cr.ports }}">

<script>

window.onload = function init() {
    valid();
}

id_ports.addEventListener('change', function(){
    document.getElementById("id_v_col").value = this.value;
    document.getElementById("id_v_row").value = 1;
    valid();
}, false);

id_v_col.addEventListener('change', function(){
    var divi = document.getElementById("id_ports").value / this.value;
    if (divi >= 1 && (divi ^ 0) === divi) {
        document.getElementById("id_v_row").value = divi;
    } else {
        document.getElementById("id_v_row").value = '';
    }
    valid();
}, false);

id_v_row.addEventListener('change', function(){
    valid();
}, false);

function valid() {
    var cr_id = document.getElementById("id_cr_p").value;
    if (cr_id != '' && cr_id != document.getElementById("id_ports").value) {
        document.getElementById("id_ok").disabled = 1;
        return;
    }
    if (document.getElementById("id_v_row").value == document.getElementById("id_ports").value / document.getElementById("id_v_col").value) {
        document.getElementById("id_ok").disabled = 0;
    } else {
        document.getElementById("id_ok").disabled = 1;
    }
}

</script>

{% endblock %}