{% extends 'main.html' %}

{% block service %}

    <table border="0" id="templ_header">
        <tr>
            <td width="880px" align="left"><h3>&nbsp Кабель:&nbsp&nbsp{% if cab %}{{ cab.name }}{% else %}(новый шаблон){% endif %}</h3></td>
            <td width="400px" align="right"></td>
        </tr>
    </table>
    <br>

<form method="post">
    {% csrf_token %}
    <table border="0">
        <tr>
            <td colspan="2" align="center" style="background-color:silver">
                &nbsp{{ form.name.label }}:&nbsp{{ form.name }}&nbsp&nbsp&nbsp
                &nbsp{{ form.capacity.label }}:&nbsp{{ form.capacity }}&nbsp&nbsp&nbsp
                &nbsp{{ form.modules.label }}:&nbsp{{ form.modules }}&nbsp&nbsp&nbsp
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.mod_capa_list.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.mod_capa_list }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.mod_color_list.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.mod_color_list }}&nbsp</td>
        </tr>
        <tr>
            <td align="right">&nbsp{{ form.fiber_colors_list.label }}:&nbsp</td>
            <td align="left">&nbsp{{ form.fiber_colors_list }}&nbsp</td>
        </tr>
    </table>
    <br>
    <table border="0" id="templ_footer">
        <tr>
            <td width="640px" align="right">
                <input type="button" id="id_to_const" value=" &#9660;&#9660;&#9660; " onClick='javascript:to_const();'>&nbsp&nbsp
                <input type="button" id="id_to_form" value=" &#9650;&#9650;&#9650; " onClick='javascript:to_form();'>&nbsp
            </td>
            <td width="640px" align="left">&nbsp
                <input type="submit" id="id_ok" value="     OK     ">&nbsp&nbsp
                <input type="button" id="id_cancel" value="отмена" onClick='location.href="/core/templ/"'>
            </td>
        </tr>
    </table>
</form>

<input type="hidden" id="id_cab_p" value="{{ cab.capacity }}">
<input type="hidden" id="id_const_p" value="0">
<input type="hidden" id="id_const_m" value="0">
<br>
<div id="info"></div>
<br>
<div id="constructor" hidden="1">
    <table width="1280px" border="0" style="background-color:#D4DCC7">
        <tr>
            <td width="300px">&nbsp</td>
            <td align="center">
                <table border="1">
                    <tr>
                        <td><div align="center">№пп<br>волокно</div></td>
                        <td><div align="center">относится<br>к модулю</div></td>
                        <td><div align="center">цвет волокна</div></td>
                        <td style="background-color:#D4DCC7">&nbsp</td>
                        <td><div align="center">№пп<br>модуль</div></td>
                        <td><div align="center">цвет модуля</div></td>
                    </tr>
<!--    <tr style="background-color:silver">
        <td>
            <input type="text" id="txt1_multi">
            <input type="button" id="but1_multi" value=" &#9660; " onClick='javascript:multi_1();'>
        </td>
        <td><div id="div_2_multi"></div></td>
        <td><div id="div_3_multi"></div></td>
    </tr>-->
                    <tr valign="top">
                        <td><div id="div_1" align="center"></div></td>
                        <td><div id="div_2"></div></td>
                        <td><div id="div_3"></div></td>
                        <td style="background-color:#D4DCC7"></td>
                        <td><div id="div_4" align="center"></div></td>
                        <td><div id="div_5"></div></td>
                    </tr>
                </table>
            </td>
            <td width="300px" valign="top" align="center">
                <table border="1">
                    {% for ob in colors %}
                    <tr>
                        <td><div align="center">{{ ob.0 }}</div></td>
                        <td><div align="center"><label style="background-color: {{ ob.0 }}">&emsp; </label></div></td>
                        <td><div align="center">{{ ob.1 }}</div></td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
</div>

<script language="javascript">

window.onload = function init() {
    id_to_form.disabled = 1;
    //document.getElementById('constructor').style.display = 'none';
    valid();
    //console.log(constructor);
}
function to_const() {
    var capacity = id_capacity.value;
    var modules = id_modules.value;
    if (parseInt(capacity) < parseInt(modules)) {
        info.innerHTML = "модулей не может быть больше ёмкости кабеля, однако";
        return;
    }
    id_const_p.value = capacity;
    id_const_m.value = modules;
    //info.innerHTML = "";
    id_to_form.disabled = 0;
    document.getElementById('constructor').style.display = 'inline';
    while (div_1.lastChild) {div_1.removeChild(div_1.lastChild);}
    while (div_2.lastChild) {div_2.removeChild(div_2.lastChild);}
    while (div_3.lastChild) {div_3.removeChild(div_3.lastChild);}
    while (div_4.lastChild) {div_4.removeChild(div_4.lastChild);}
    while (div_5.lastChild) {div_5.removeChild(div_5.lastChild);}
    //div_1.innerHTML = ''; div_2.innerHTML = ''; div_3.innerHTML = '';
    //var list1 = document.getElementById("id_port_alias_list").value.split(',');

    var list1 = id_mod_capa_list.value.split(',');
    var list1_cut = [];
    for (var i = 1; i <= list1.length; i++) {
        list1_cut[i-1] = list1[i-1].split('-')[1];
    }
    var list2 = id_mod_color_list.value.split(',');
    var list3 = id_fiber_colors_list.value.split(',');

    elem_m1 = id_cancel.cloneNode(false);
    elem_m2 = document.createElement('select');
    for (var i = 1; i <= modules; i++) {
        elem_m2.options[elem_m2.options.length] = new Option(i);
    }
    //elem_m1.options[elem_m2.options.length] = new Option('optical', '1');
    elem_m3 = id_name.cloneNode(false);
    //elem_m3.max=15;
    for (var i = 1; i <= capacity; i++) {
        elem = elem_m1.cloneNode(true);
        //elem.value = (list1.length >= i) ? list1[i-1] : "";
        elem.value = i;//(list1.length >= i) ? i : "";
        elem.id = "id_1_"+i;
        elem.style = "height: 24px;"
        elem.onclick = "";
        div_1.appendChild(elem, null);
        div_1.appendChild(document.createElement('br'));
        //console.log(elem.id);
        elem = elem_m2.cloneNode(true);
        elem.value = (list1_cut.length >= i) ? list1_cut[i-1] : "";
        elem.id = "id_2_"+i;
        elem.style = "height: 24px;"
        div_2.appendChild(elem, null);
        div_2.appendChild(document.createElement('br'));
        //console.log(elem.id);
        elem = elem_m3.cloneNode(true);
        elem.value = (list3.length >= i) ? list3[i-1] : "";
        elem.id = "id_3_"+i;
        //elem.style = "height: 24px;"
        elem.style = "height: 14px; background-color:"+elem.value;
        div_3.appendChild(elem, null);
        div_3.appendChild(document.createElement('br'));
        if (i <= modules) {
            elem = elem_m1.cloneNode(true);
            elem.value = i;//(list2.length >= i) ? i : "-";
            elem.id = "id_1_"+i;
            elem.style = "height: 24px;"
            elem.onclick = "";
            div_4.appendChild(elem, null);
            div_4.appendChild(document.createElement('br'));
            elem = elem_m3.cloneNode(true);
            elem.value = (list2.length >= i) ? list2[i-1] : "";
            elem.id = "id_3_"+i;
            //elem.style = "height: 24px;"
            elem.style = "height: 14px; background-color:"+elem.value;
            div_5.appendChild(elem, null);
            div_5.appendChild(document.createElement('br'));
        }
    }
}

function to_form() {
    id_mod_capa_list.value = ''; 
    id_mod_color_list.value = ''; 
    id_fiber_colors_list.value = '';
    var elements1 = div_2.getElementsByTagName('select');
    var elements2 = div_3.getElementsByTagName('input');
    var elements3 = div_5.getElementsByTagName('input');
    for (var i = 1; i <= id_const_p.value; i++) {
        id_mod_capa_list.value += (elements1[i-1].value != "") ? i+"-"+elements1[i-1].value : "";
        id_mod_capa_list.value += (i == elements1.length) ? '' : ',';
        if (i <= id_const_m.value) {
            id_mod_color_list.value += elements3[i-1].value;
            id_mod_color_list.value += (i == elements3.length) ? '' : ',';
        }
        id_fiber_colors_list.value += elements2[i-1].value;
        id_fiber_colors_list.value += (i == elements2.length) ? '' : ',';
    }
    id_capacity.value = id_const_p.value;
    id_modules.value = id_const_m.value;
    valid();
}

id_capacity.addEventListener('change', function(){
    valid();
}, false);
id_modules.addEventListener('change', function(){
    valid();
}, false);
id_mod_capa_list.addEventListener('change', function(){
    valid();
}, false);
id_mod_color_list.addEventListener('change', function(){
    valid();
}, false);
id_fiber_colors_list.addEventListener('change', function(){
    valid();
}, false);

function valid() {
    var cab_p = id_cab_p.value;
    var cur_p = id_capacity.value;
    var cur_m = id_modules.value;
    if (cab_p != '' && cab_p != cur_p) {
        info.innerHTML = "в уже созданном шаблоне нельзя менять ёмкость";
        id_ok.disabled = 1;
        return;
    }
    var list1 = document.getElementById("id_mod_capa_list").value.split(',');
    var list2 = document.getElementById("id_mod_color_list").value.split(',');
    var list3 = document.getElementById("id_fiber_colors_list").value.split(',');
    if (cur_p != list1.length || cur_m != list2.length || cur_p != list3.length) {
        document.getElementById("id_ok").disabled = 1;
        return;
    }
    for (var i = 0; i < list1.length; i++) {
        if (list1[i] == "" || list2[i] == "" || list3[i] == "") {
            document.getElementById("id_ok").disabled = 1;
            return;
        }
    }
    document.getElementById("id_ok").disabled = 0;
    info.innerHTML = "";
}

</script>


{% endblock %}
