{% extends 'main.html' %}

{% block service %}
<link rel="stylesheet" type="text/css" href="/static/serv.css">

<div class="c_base_w tone2">
    <div class="serv_header">
        <h3>устройство:&nbsp;&nbsp;{% if su %}{{ su.name }}{% else %}(новый шаблон){% endif %}</h3>
    </div>
</div>
<br>

<div class="c_base_w" align="center">
    <form method="post">
        {% csrf_token %}

        <table class="tone2">
            <tr>
                <td align="right">
                    имя: {{ form.name }}&nbsp;
                </td>
                <td align="left">
                    тип оборудования:{{ form.parrent }}
                </td>
            </tr>
        </table>
        <br>

        <div class="tone2">
            <div class="serv_c">
                <input type="submit" value="     OK     ">
                <input type="button" value="отмена" onClick='location.href="/core/templ/"'>
            </div>
        </div>

    </form>
    
</div>

{% endblock %}